body {
  font-family: 'Hind', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#head-sect {
  height: 50px;
  padding: 10px;
  text-align: center;
}

#head-sect img {
  margin-top: 5%;
  min-height: 50px;
  max-height: 75px;
}

#agrisource-sect {
  text-shadow: 0px 0px 10px #000;
  text-transform: uppercase;
}

#agrisource-sect .row {
  text-align: center;
}

#agrisource-sect .agrisource-block {
  display: inline-block;
}

#agrisource-sect h1 {
  line-height: 1em;
  margin: 0;
}

.agrisource-block .agrisource-top {
  font-size: 2vw;
  overflow: hidden;
  letter-spacing: 0.014em;
}

.agrisource-block .agrisource-top .en {
  float: left;
}

.agrisource-block .agrisource-top .fr {
  float: right;
}

#lang-sect {
}

#lang-sect .row {
  text-align: center;
}

#lang-sect .button:hover {
  opacity: 0.8;
}

#footer-sect {
  display: table;
  text-align: center;
  font-size: 1vw;
  width: 100%;
}

#footer-sect .row {
  display: table-row;
}

#footer-sect .link {
  display: table-cell;
  padding: 0 15px 30px;
  vertical-align: bottom;
  width: 50%;
}

#footer-sect .link.en {
  text-align: right;
}

#footer-sect .link.fr {
  text-align: left;
}

#footer-sect .link a {
  color: #fff;
  text-decoration: none;
}

#footer-sect .link a:hover {
  text-decoration: underline;
}

#footer-sect .wmcell {
  display: table-cell;
  width: 0;
}

.canada-wm {
  position: absolute;
  height: 0;
  width: 100%;
  text-align: right;
}

.canada-wm img {
  position: relative;
  height: 30px;
  margin: 0 30px;
}

@media (max-width:680px) {
  #footer-sect img {
    height: 20px;
  }
  .canada-wm {
    text-align: center;
  }
}
