body.user-anonymous.home.i18n-en div.messages__wrapper div.alert-success em.placeholder a[href*="/internal-employment"] {
  display: none;
}
body.user-anonymous.home.i18n-fr div.messages__wrapper div.alert-success em.placeholder a[href*="/fr/possibilites-dempl"] {
  display: none;
}
