{#{{ attach_library('news_bulletin/email-bulletins') }}#}

<a name="English"></a>
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; width: 100%; background: #f6f6f6;" width="100%">
  <tbody>
    <tr>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
      <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; width: 580px; background: #fff; padding: 20px 20px 0 20px;" width="580" >
<div data-section="true" class="columns-equal-class wrap-section">
        <div id="list-en" class="news-bulletin">
        </div>
        <table style="margin-left:auto; margin-right:auto; width: 100%; font-family: Helvetica,Arial,sans-serif;background-color:#fff;color:white" class="headerrow2">
          <tbody>
            <tr>
              <td style="text-align: center;font-size:24px;"><img alt="News_work_Email_Bulletin." src="https://agrisource.agr.gc.ca/sites/default/files/media/images/2024-09/News_work_Email_Bulletin-580px-Eng-French_fixed.jpg">
              </td>
            </tr>
          </tbody>
        </table>
        <table style="margin-left:auto; margin-right:auto;width:100%;font-family: Helvetica,Arial,sans-serif;" class="headerrow1">
          <tbody>
            <tr>
              <td style="text-align: center;">
                <span class="bulletin-font" style="padding: 5px 0 0 5px; font-size: 12px; font-weight: 700;">ENGLISH | <a href="#French">FRANÇAIS</a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- matches the legacy system : space line -->
        <table border="0" cellpadding="0" cellspacing="10" width="100%">
          <tr>
            <td align="center" valign="top" style="border-top:1px solid #C8C8C8;"></td>
          </tr>
        </table>
</div>
        <div id="news-bulletin-list-en" class="news-bulletin-test" style="margin-bottom:0px;position:relative;padding: 0px 0px 0px 0px;margin-left:auto; margin-right:auto;width:100%;font-family:Helvetica,Arial,sans-serif;" >
          {% for wkey, valuetype in types_by_weight %}
<div data-section="true" class="columns-equal-class wrap-section">
            <div style="padding:10px 10px 0px 0px;" class="news-type type-{{ valuetype.first_word }} news-type-id-{{ valuetype.tid }}" data-attribute-group="{{ valuetype.tid }}">
            <table style="margin-left: 0px;margin-right: auto;padding: 0px 10px 10px 0px;" > 
              <tbody>
                <tr>
                  <td style="color:#5F5F5F; font-family:Helvetica,Arial,sans-serif; font-size:20px; font-weight:normal; margin-top:20px; margin-bottom:3px;text-align:left;">
                    {{ valuetype.name }}
                  </td>
                </tr>
              </tbody>
            </table>
            {#
            <div class="news-group-title" style="font-size:20px;">{{ valuetype.name }}</div>
            #}
            </div>
            {% for nkey, newsitem in news_items %}
              {##}{% if valuetype.tid == newsitem.term_id %}
              <div style="margin-left:auto;margin-right:auto;padding:10px 10px 0px 0px;" class="tile news-type-id-{{ valuetype.tid }}">
                <div class="content type-{{ newsitem.first_word }}" data-nid="{{ newsitem.nid }}" data-group-current="{{ newsitem.term_id }}" data-group-orig="{{ newsitem.term_id }}">
                   <table style="margin-left: 0px;margin-right: auto;" >
                    <tbody>
                      <tr>
                        <td style="text-align:left;font-weight:normal;font-family:Helvetica,Arial,sans-serif;font-size:17px;margin-bottom:0px;color:#205478;">
                          <a href="{{ newsitem.href }}">{{ newsitem.title|raw }}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table> 
                  {#
                  <div style="font-size:17px;" class="cell news-title"><a href="{{ newsitem.href }}">{{ newsitem.title|raw }}</a></div>
                  #}
                  <div style="font-size:15px;font-style: italic;padding-bottom:5px;color:#5F5F5F;" class="cell from">{{ newsitem.from|raw }}</div>
                  <table style="width: 100%; border: 0px;" >
                    <tbody>
                      {% if not newsitem.image_narrow %}
                      <tr>
                        <td class="cell image" style="text-align:center;padding: 5px 0 5px 0;">{% autoescape false %} {{ newsitem.image|raw }} {% endautoescape %}</td>
                      </tr>
                      <tr>
                        <td style="font-size:15px;color:#5F5F5F;" class="cell summary">{{ newsitem.summary|raw }}</td>
                      </tr>
                      {% else %}
                      <tr>
                        <td style="width:70%;padding-top:20px;float:left;font-size:15px;color:#5F5F5F;text-align:left;" class="cell summary">
                          {{ newsitem.summary|raw }}
                        </td>
                        <td class="narrow-image" style="float:right;text-align:right;padding:5px 10px 5px 0;">{% autoescape false %} {{ newsitem.image|raw }} {% endautoescape %}
                        </td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
              <table border="0" cellpadding="0" cellspacing="10" width="100%">
                <tr>
                  <td align="center" valign="top" style="border-top:1px solid #C8C8C8;"></td>
                </tr>
              </table>
              {% endif %}
            {% endfor %}
</div>
          {% endfor %}
        </div>
<div data-section="true" class="columns-equal-class wrap-section">
        <table style="margin-left: auto; margin-right: auto; width: 100%; padding-left: 25px;" class="newsreleasesstatement">
          <tr><td style="text-align: center;">
              <h3 style="color: #5F5F5F; line-height: 125%; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; margin-top: 20px; margin-bottom: 3px; text-align: left;">AAFC News Releases and Statements</h3>
            </td>
          </tr>
        </table>
        <table class="newsreleasesstatementdetails" style="padding-left: 15px; padding-bottom: 25px;">
          <tbody>
            <tr>
              <td style="text-align: center;">
                <img class="flexibleImagesmall" src="https://www.agr.gc.ca/resources/prod/news/images/news_icon_sm.png" alt="AAFC News Releases and Statements">
              </td>
              <td style="width=100%;font-size:14px;">
                <div style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-bottom: 0; color: #5F5F5F; line-height: 135%;">Check out AAFC's latest <a href="https://agriculture.canada.ca/en/news-agriculture-and-agri-food-canada/news-releases-and-statements">news releases and statements.</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="padding-left: 15px;"  border="0" cellpadding="0"  cellspacing="10" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="top" style="border-top:1px solid #C8C8C8;"></td>
            </tr>
          </tbody>
        </table>
</div>
<div data-section="true" class="columns-equal-class wrap-section">
        <table style="margin-left:auto; margin-right:auto; width: 100%; padding-left: 15px;" class="emplopp">
          <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
              <h3 style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:30px;margin-bottom:3px;text-align:left;">Employment Opportunities</h3>
              <br>Visit the Internal Employment Opportunities page to find any available assignment and deployment opportunities within AAFC.
            </td>
          </tr>
        </table>
        <p></p><br/>
        <table style="margin-left:auto; margin-right:auto; width: auto;" align="center" class="emploppdetails">
          <tbody>
            <tr>
              <td style="font-family:sans-serif;text-align:center;font-size:14px;background-color: #3498db; border-radius: 5px;" align="center;">
                <a style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #3498db;" href="{{ vars_array['base_url'] }}/en/human-resources/internal-employment-opportunities" target="_blank">
      View Opportunities
                </a/>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Add a 5px space for Outlook -->
        <table border="0" cellpadding="0" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="top" style="height: 5px;"></td>
            </tr>
          </tbody>
        </table>
</div>
      </td>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
    </tr>
  </tbody>
</table>
<!-- footer table -->
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; width: 100%; background: #f6f6f6;" width="100%">
  <tbody>
    <tr>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
      <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; width: 580px;" width="580" >
        <table style="margin-left:auto; margin-right:auto; width: 100%;">
          <tbody>
            <tr>
              <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-top: 10px; padding-bottom: 10px; font-size: 12px; color: #999999; text-align: center;">
                <span class="apple-link"  style="color: #999999; font-size: 12px; text-align: center;">
                <a href="{{ vars_array['base_url'] }}/en/news/newswork">news@work main page</a>
             |
                <a href="{{ vars_array['base_url'] }}/en/news/newswork/submit-article-news-work">Submit a news@work item</a>
             |
                <a href="mailto:aafc.newsatwork-nouvellesalouvrage.aac@agr.gc.ca">Contact Us</a>
                </span>
                <br>
                <br>
                Please check AgriSource daily. Additional news@work articles are posted regularly. For technical difficulties accessing or viewing news@work, please contact IT Centre TI (<a href="https://assystweb.agr.gc.ca/assystnet/#homepage">My IT Centre TI</a> 1-855-819-1800).
              <div data-editorblocktype="Text" style="text-align: center;"><p style="text-align: center;"><span class="msdynmkt_personalization" data-widget="personalization">&#123;&#123;CompanyAddress&#125;&#125;</span></p></div>
              </td>
            </tr>
            <tr>
              <td class="content-block powered-by"> </td>
            </tr>
          </tbody>
        </table>
      </td>
      </td>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
    </tr>
  </tbody>
</table>

<a name="French"></a>
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; width: 100%; background-color: #f6f6f6;" width="100%">
  <tbody>
    <tr>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
      <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; width: 580px; background: #fff; padding: 20px 20px 0 20px;" width="580" valign="top" >
<div data-section="true" class="columns-equal-class wrap-section">
        <div id="list-fr" class="news-bulletin">
        </div>
        <table style="margin-left:auto; margin-right:auto; width: 100%; font-family: Helvetica,Arial,sans-serif;background-color:#fff; color: white;" class="headerrow2">
          <tbody>
            <tr>
              <td style="text-align: center;font-size:24px;"><img alt="Bulletin &#233;lectronique Nouvelles@l'ouvrage." src="https://agrisource.agr.gc.ca/sites/default/files/media/images/2024-09/News_work_Email_Bulletin-580px-Fra-French_fixed.jpg">
              </td>
            </tr>
          </tbody>
        </table>
        <table style="margin-left:auto;margin-right:auto;width:100%;font-family:Helvetica,Arial,sans-serif;" class="headerrow1">
          <tbody>
            <tr>
              <td style="text-align: center;">
                <span style="padding: 5px 0 0 5px; font-size: 12px; font-weight: 700;"><a href="#English">ENGLISH</a> | FRANÇAIS
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- matches the legacy system : space line -->
        <table border="0" cellpadding="0" cellspacing="10" width="100%">
          <tr>
            <td align="center" valign="top" style="border-top:1px solid #C8C8C8;"></td>
          </tr>
        </table>
</div>
        <div id="news-bulletin-list-fr" class="news-bulletin" style="position:relative;padding: 0px 0px 0px 0px;margin-left:auto;margin-right:auto;width:100%;font-family: Helvetica,Arial,sans-serif;" >
        {% for wkey, valuetype in types_by_weight_fr %}
<div data-section="true" class="columns-equal-class wrap-section">
          <div style="padding:10px 10px 0px 0px;" class="news-type type-{{ valuetype.first_word }} news-type-id-{{ valuetype.tid }}" data-attribute-group="{{ valuetype.tid }}">
            <table style="margin-left: 0px;margin-right: auto;padding: 0px 10px 10px 0px;" > 
              <tbody>
                <tr>
                  <td style="color:#5F5F5F; font-family:Helvetica,Arial,sans-serif; font-size:20px; font-weight:normal; margin-top:20px; margin-bottom:3px;text-align:left;">
                    {{ valuetype.name }}
                  </td>
                </tr>
              </tbody>
            </table>
            {#
              <div style="font-size:20px;" class="news-group-title">{{ valuetype.name }}</div>
            #}
          </div>
          {% for nkey, newsitem in news_items_fr %}
          {##}{% if valuetype.tid == newsitem.term_id %}
          <div style="margin-left:auto;margin-right:auto;padding:10px 10px 0px 0px;" class="tile news-type-id-{{ valuetype.tid }}">
            <div class="content type-{{ newsitem.first_word }}" data-nid="{{ newsitem.nid }}" data-group-current="{{ newsitem.term_id }}" data-group-orig="{{ newsitem.term_id }}">
              <table style="margin-left: 0px;margin-right: auto;" >
                <tbody>
                  <tr>
                    <td style="text-align:left;font-weight:normal;font-family:Helvetica,Arial,sans-serif;font-size:17px;margin-bottom:0px;color:#205478;">
                      <a href="{{ newsitem.href }}">{{ newsitem.title|raw }}</a>
                    </td>
                  </tr>
                </tbody>
              </table> 
              {#
              <div style="font-size:17px;" class="cell news-title"><a href="{{ newsitem.href }}">{{ newsitem.title|raw }}</a></div>
              #}
              <div style="font-size:15px;font-style: italic;padding-bottom:5px;color:#5F5F5F;" class="cell from">{{ newsitem.from|raw }}</div>
              <table style="width: 100%; border: 0px;" >
                <tbody>
                {% if not newsitem.image_narrow %}
                <tr>
                  <td class="cell image" style="text-align:center;padding: 5px 0 5px 0;">{% autoescape false %} {{ newsitem.image|raw }} {% endautoescape %}</td>
                </tr>
                <tr>
                  <td style="font-size:15px;color:#5F5F5F;" class="cell summary">{{ newsitem.summary|raw }}</td>
                </tr>
                {% else %}
                <tr>
                  <td style="width:70%;padding-top:20px;float:left;font-size:15px;color:#5F5F5F;text-align:left;" class="cell summary">
                    {{ newsitem.summary|raw }}
                  </td>
                  <td class="narrow-image" style="float:right;text-align:right;padding:5px 10px 5px 0;">{% autoescape false %} {{ newsitem.image|raw }} {% endautoescape %}
                  </td>
                </tr> 
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <table border="0" cellpadding="0" cellspacing="10" width="100%">
            <tr>
              <td align="center" valign="top" style="border-top:1px solid #C8C8C8; padding: 10px 0px 5px 0px;"></td>
            </tr>
          </table>
            {% endif %}
          {% endfor %}
</div>
        {% endfor %}
        </div>
<div data-section="true" class="columns-equal-class wrap-section">
        <table style="margin-left:auto; margin-right:auto; width: 100%; padding-left: 25px;" class="newsreleasesstatement">
          <tr>
            <td><h3 style="color: #5F5F5F; line-height: 125%; font-family: Helvetica,Arial,sans-serif; font-size: 20px; font-weight: normal; margin-top: 20px; margin-bottom: 3px; text-align: left;">Communiqués et déclarations d'AAC</h3>
            </td>
          </tr>
        </table>
        <table style="margin-left:auto; margin-right:auto; width: 100%; padding-left: 15px; padding-bottom: 25px;" class="newsreleasesstatementdetails">
          <tbody>
            <tr>
              <td>
                <img class="flexibleImagesmall" src="https://www.agr.gc.ca/resources/prod/news/images/news_icon_sm.png" alt="AAC Nouvelles et Communiqués">
              </td>
              <td style="width=100%;font-size:14px;">
                <div style="text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 15px; margin-bottom: 0; color: #5F5F5F; line-height: 135%;">Consultez les plus récents <a href="https://agriculture.canada.ca/fr/nouvelles-dagriculture-agroalimentaire-canada/communiques-declarations">communiqués et déclarations.</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="padding-left: 15px;"  border="0" cellpadding="0" cellspacing="10" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="top" style="border-top:1px solid #C8C8C8;"></td>
            </tr>
          </tbody>
        </table>
</div>
<div data-section="true" class="columns-equal-class wrap-section">
        <table style="margin-left:auto; margin-right:auto; width: 100%; padding-left: 15px;" class="emplopp">
          <tr>
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
              <h3 style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:30px;margin-bottom:3px;text-align:left;">Possibilités d'emplois</h3>
                <br>Consultez la page Possibilités d'emploi pour prendre connaissance de toutes les occasions de nomination d'affectation et de mutation au sein d'AAC.
            </td>
          </tr>
        </table>
         <p></p><br/>
        <table style="margin-left:auto; margin-right:auto; width: auto;" align="center" class="emploppdetails">
          <tbody>
            <tr>
              <td style="font-family:sans-serif;text-align:center;font-size:14px;background-color: #3498db; border-radius: 5px;" align="center;">
                <a style="display: inline-block; color: #ffffff; background-color: #3498db; border: solid 1px #3498db; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; border-color: #3498db;" href="{{ vars_array['base_url'] }}/fr/ressources-humaines/possibilites-demploi-a-linterne" target="_blank">
      Visualisez les opportunités</a>
              </td>
            </tr>
          </tbody>
        </table>
         <!-- Add a 5px space for Outlook -->
        <table border="0" cellpadding="0" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="top" style="height: 5px;"></td>
            </tr>
          </tbody>
        </table>
</div>
      </td>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
    </tr>
   </tbody>
</table>
<!-- footer table -->
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; width: 100%; background: #f6f6f6;" width="100%">
  <tbody>
    <tr>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
      <td class="container" style="font-family: sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; width: 580px;" width="580" >
        <table style="margin-left:auto; margin-right:auto; width: 100%; background-color: #f6f6f6;">
          <tbody>
            <tr>
              <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-top: 10px; padding-bottom: 10px; font-size: 12px; color: #999999; text-align: center;">
                <span class="apple-link"  style="color: #999999; font-size: 12px; text-align: center;">
                <a href="{{ vars_array['base_url'] }}/fr/nouvelles/nouvelleslouvrage">Page principale du bulletin nouvelles@l'ouvrage</a>
             |
                <a href="{{ vars_array['base_url'] }}/fr/nouvelles/nouvelleslouvrage/soumettre-un-article-nouvelles-au-travail">Soumettre un article pour nouvelles@l'ouvrage</a>
             |
                <a href="mailto:aafc.newsatwork-nouvellesalouvrage.aac@agr.gc.ca">Contactez - nous</a>
                </span>
                <br>
                <br>
                Consultez AgriSource tous les jours. Des articles sont affichés tout au long de la semaine. Si vous éprouvez des difficultés techniques au moment d'accéder ou de visualiser le bulletin nouvelles@l'ouvrage, veuillez communiquer avec IT Centre TI (<a href="https://assystweb.agr.gc.ca/assystnet/#homepage">Mon IT Centre TI</a> 1-855-819-1800).
              <div data-editorblocktype="Text" style="text-align: center;"><p style="text-align: center;"><span class="msdynmkt_personalization" data-widget="personalization">&#123;&#123;CompanyAddress&#125;&#125;</span></p></div>
              </td>
            </tr>
            <tr>
              <td class="content-block powered-by"> </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
    </tr>
  </tbody>
</table>
