body.path-node .never-collapse.collapse, body.path-node .never-collapse .collapse {
  display: block;
  visibility: visible;
}
body.path-node .never-collapse .fade {
  opacity: 100;
}

/*# sourceMappingURL=empl-form.css.map */
