.wb-form .input-group .form-control:last-child {
  border-radius: 4px 0 0 4px;
}

.wb-fieldflow-form .input-group input[type=submit] {
  padding-bottom: 7px;
}

.wb-fieldflow-form .full-width.form-control {
  width: 45% !important;
}