/* Green Primary Panel Heading to match theme (4a7333) - GY */
.btn-primary {
  background-color: $agrisource-button-color;
  border-color: $agrisource-button-color;
  color: #fff;
  &:active {
    background-color: $agrisource-button-color;
    border-color: $agrisource-button-color;
    color: #fff;
  }
  &:focus {
    background-color: $agrisource-button-color;
    border-color: $agrisource-button-color;
    color: #fff;
  }
  &:hover {
    background-color: $agrisource-button-color;
    border-color: $agrisource-button-color;
    color: #fff;
  }
}
.btn-primary.active {
  background-color: $agrisource-button-color;
  border-color: $agrisource-button-color;
  color: #fff;
}
.btn-primary.focus {
  background-color: $agrisource-button-color;
  border-color: $agrisource-button-color;
  color: #fff;
}
.open {
  >.btn-primary.dropdown-toggle {
    background-color: $agrisource-button-color;
    border-color: $agrisource-button-color;
    color: #fff;
  }
}
.panel-primary {
  >.panel-heading {
    background-color: $agrisource-button-color;
    border-color: $agrisource-button-color;
  }
  border-color: $agrisource-button-color;
}

.breadcrumb > .active {
  color: #333;

}

.error {
  color: #a94442;
}

.customalertimagesize {
  font-size: 200%;
}

.customalertheaderfont {
  border-bottom: 1px solid #af3c43;
  color: #333;
}

.customalertmsgfont {
  color: #333;
  padding-left: 50px;
}
