
body.page-node-type-landing-page .bs-2col-bricked {
  div.bs-region--top-left {
  }

  div.bs-region--top-right {
  }
}

body.page-node-type-landing-page.user-anonymous {
  .bs-region--bottom #wb-sec {
    display: none;
  }
}

//hide the user account block in page-node-type-landing-page
body.user-logged-in.path-node.page-node-type-landing-page .bs-region--bottom #wb-sec {
  display: none;
}
