form.webform-submission-form {
  div.form-type-select div.select-wrapper {
    margin-bottom: 10px;
    strong.error {
      width: max-content;
      position: absolute;
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }
}
form.webform-submission-form {
  div.form-type-date {
    margin-bottom: 25px;
    strong.error {
      position: absolute;
      margin-bottom: 15px;
      margin-top: 5px;
    }
    img{
      top: -10px;
      position: relative;
    }
  }
}
#edit-srf-phone-error{
  margin-top: -15px;
  margin-bottom: 15px;
}

body.form-publishing-and-creative-services.i18n-en {
  h2.webform-section-title {
    font-size: 20.8px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }

  div.js-form-type-date.form-item-rsf-daterequired {
    label[for^='edit-rsf-daterequired'] {
      display: block;
    }
  }
  
  div.js-form-type-tel.form-item-srf-phone {
    label[for^='edit-srf-phone'] {
      display: block;
    }
  }

  div[id^='edit-actions'] {
    padding-top: 35px;
  }

  button[id^='edit-actions-reset'] {
    float: left;
    margin-right: 25px;
  }

  button[id^='edit-actions-reset'] span.icon.glyphicon.glyphicon-trash {
    min-height: 20px;
  }

  div[id^='edit-psrf-pagefootermessage'] {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  button[id^='edit-srf-attachedfiles-remove-button'] span.icon.glyphicon.glyphicon-trash {
    min-height: 20px;
  }

  div.region.region-content-footer {
    display: none;
  }

  label[data-drupal-selector='edit-srf-lbl-selectproducts'] {
    font-weight: normal;
    font-style: italic;
  }

  div.form-textarea-wrapper textarea[id^='edit-srf-mainmessage'], div.form-textarea-wrapper textarea[id^='edit-srf-addintionalcomments'] {
    width: 100% !important;
  }
  
  .item-list__comma-list li:after {
    content: "\A";
    white-space: pre;
  }

  div[id^='edit-srf-html-selectproducts'] {
    margin-bottom: 0px;
  }
}  
  
/* CSS for French page */  
body.form-publishing-and-creative-services.i18n-fr {
  h2.webform-section-title {
    font-size: 20.8px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }

  div.js-form-type-date.form-item-rsf-daterequired {
    label[for^='edit-rsf-daterequired'] {
      display: block;
    }
  }
 
  div.js-form-type-tel.form-item-srf-phone {
    label[for^='edit-srf-phone'] {
      display: block;
    }
  }

  div[id^='edit-actions'] {
    padding-top: 35px;
  }

  button[id^='edit-actions-reset'] {
    float: left;
    margin-right: 25px;
  }

  button[id^='edit-actions-reset'] span.icon.glyphicon.glyphicon-trash {
    min-height: 20px;
  }
  
  button[id^='edit-srf-attachedfiles-remove-button'] span.icon.glyphicon.glyphicon-trash {
    min-height: 20px;
  }

  div.region.region-content-footer {
    display: none;
  }

  label[data-drupal-selector='edit-srf-lbl-selectproducts'] {
    font-weight: normal;
    font-style: italic;
  }

  div.form-textarea-wrapper textarea[id^='edit-srf-mainmessage'], div.form-textarea-wrapper textarea[id^='edit-srf-addintionalcomments'] {
    width: 100% !important;
  }

  .item-list__comma-list li:after {
    content: "\A";
    white-space: pre;
  }

  div[id^='edit-srf-html-selectproducts'] {
    margin-bottom: 0px;
  }
}

/* Adjust empty spaces of the validation error text for the Radios button group only*/
form.webform-submission-publishing-and-creative-services-form {
  div.fieldset-wrapper div[class*="js-webform-radios"] :last-child {
    margin-bottom: 0px;
  }

  div.fieldset-wrapper  {
    margin-bottom: 15px;
  }

 //for single checkbox only
  div.js-form-type-checkbox.checkbox {
    margin-bottom: 0px;
  }

  div.js-form-type-checkbox.checkbox + strong.error {
    margin-bottom: 15px;
  }

  // checkboxes group
  div.fieldset-wrapper div.form-checkboxes div.checkbox {
    margin-bottom: 10px;
  }

  div.fieldset-wrapper div.form-checkboxes :last-child {
    margin-bottom: 0px !important;
  }

  div.fieldset-wrapper div.form-checkboxes :last-child + strong.error {
    margin-bottom: 15px;
  }


  div.form-actions {
    padding-top: 20px;
    button[class*="webform-button-"] {
    span.icon.glyphicon {
    display: none;
    }
  }

  button.webform-button--preview,
    button.webform-button--previous {
      margin-right: 5px;
    }
  }

  div.iti.iti--allow-dropdown {
    display: block;
  }

  //input.form-text.form-control.hasDatepicker{
    //  display: block;
  // }

  div.form-textarea-wrapper {
    textarea.form-textarea {
    min-width: 99%;
    }
  }

  .select-wrapper select{
    max-width: 95%;
  }

  input.form-control.hasDatepicker {
    display: inline-block;
  }

  input.form-checkbox.required:before {
    display: none;
  }
  //label[for*="edit-other"] {
    //float: left;
    //font-weight: normal;
    // padding-right: 10px;
  // }
}
