
/* This comment shows up in css file */
// This comment line does NOT compile into the css file.
// Hide fields on BasicPage and LandingPage add - edit forms.
body.is-reviewer, 
body.is-creator,
body.is-ccpub,
body.is-cspub {
  &.node-edit.page-node-type-page, // Target specifically node edit for basic page as per specs.
  &.node-edit.page-node-type-landing-page, // Target specifically node edit for landing page as per specs.
  &.nodeaddpage, // Target specifically nodeaddpage.
  &.nodeaddlanding_page // Target specifically nodeaddlanding_page.
  {
    // Hide Menu link Weight.
    #edit-advanced .form-item--menu-weight {
      display: none;
    }
    // Hide Preview button.
    #edit-preview {
      display: none;
    }
  }
}

// For the reviewer role hide the edit button.
body.role-is-reviewer.path-node {
  ul.tabs--primary a[rel=edit-form] {
    display:none !important;
  }
  .ui-dialog-off-canvas .moderation-sidebar-link.button.button--danger{
    display: none;
  }
  .ui-dialog-off-canvas .moderation-sidebar-container a, .ui-dialog-off-canvas .moderation-sidebar-container p{
    display: none;
  }
  
}

// For the reviewer and creator role hide 'Temporary unpublished access' control on Edit content form.
body.role-is-reviewer.path-node, body.role-is-creator.path-node {
  details[data-drupal-selector="edit-access-unpublished-settings"]{  
    display: none;
  }
}

// For the reviewer and creator role hide help menu.
body.role-is-reviewer, body.role-is-creator, body.role-is-news_ccpub{ 
  a[data-drupal-link-system-path="admin/help"]{  
    display: none;
  }
}

// For the creator role hide block layout page.
body.role-is-creator{ 
  a[data-drupal-link-system-path="admin/structure/block"]{  
    display: none;
  }
  table[data-drupal-selector="edit-blocks"]{
    display: none;
  }
  form[data-drupal-selector="block-admin-display-form"]{
    display: none;
  }
  #block-claro-help{
    display: none;
  }
}

// For the cspub role hide News At Work menu item.
body.role-is-empl_cspub{ 
  a[data-drupal-link-system-path="news-at-work-bulletin"], a[data-drupal-link-system-path="news-at-work-bulletin/outside-ncr"] { 
    display: none;
  }
}

// For all the roles except for the admin role hide the schedule a status change link on content edit page.
body:not(.role-is-administrator){ 
  transitionset[data-drupal-selector="edit-moderation-state-0-scheduled-transitions"]{  
    display: none;
  }
  transitionset[data-drupal-selector="edit-moderation-state-etuf-fr-0-scheduled-transitions"]{  
    display: none;
  }
}

body.nodeaddempl .field-group-fieldset,
body.node-edit.page-node-type-empl .field-group-fieldset {
  width: 100% !important;
}

body.nodeaddempl .field-group-fieldset .js-form-item.form-item,
body.node-edit.page-node-type-empl .field-group-fieldset .js-form-item.form-item {
  float: inherit !important;
  width: auto;
  margin-right: auto;
}

body.nodeaddempl .field-group-fieldset .field--type-list-string,
body.node-edit.page-node-type-empl .field-group-fieldset .field--type-list-string {
  float: left;
  margin-right: 30px;
}

body.nodeaddempl .field-group-fieldset .paragraphs-subform,
body.node-edit.page-node-type-empl .field-group-fieldset .paragraphs-subform {
  max-height: 100px;
  margin-top: -90px;
  margin-left: 217px;
}

body.nodeaddempl select[name*="[subform][field_class_id]"],
body.node-edit.page-node-type-empl select[name*="[subform][field_class_id]"] {
  min-width: 165px;
}
body.nodeaddempl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"],
body.node-edit.page-node-type-empl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"] {
  margin-top: 30px;
  max-width: 120px;
  margin-left: 10px;
}

body.node-edit.user-logged-in.path-node.page-node-type-empl {
  #edit-group-opportunitylocation {
     border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;

    .claro-details__summary.form-required::before {
      display: none;
    }

    .claro-details__summary.form-required {
      padding-left: 0px;
    }

    div.claro-details__wrapper.details-wrapper {
      margin-left: 0px;
    }
  }  

  #edit-group-opportunityopento {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;

    .claro-details__wrapper.details-wrapper {
      margin-left: 0px;
    }

    summary.claro-details__summary::before {
      display: none;
    }

    summary.claro-details__summary.form-required {
      padding-left: 0px;
    }
  }

  #edit-group-level-and span.fieldset__label {
    padding-left: 0px !important;
  }

  #edit-group-level-and div.fieldset__wrapper {
    margin-left: 0px;
  }
}

/* menu_parent select style */
body.node-edit .form-item--menu-menu-parent, 
body.nodeaddpage .form-item--menu-menu-parent,
body.nodeaddlanding_page .form-item--menu-menu-parent,
body.adminstructuremenumanagemaina select#edit-menu-parent,
body[class*="menuitem"] select#edit-menu-parent {
  #edit-menu-menu-parent {
    max-width: 100% !important;
  }

  .menu_tree-leve-1 {
    padding-left: 15px;
    color: blue;
    font-size: 20px;
  }

  .menu_tree-leve-2 {
    padding-left: 30px;
    font-style: italic;
    color: green;
    font-size: 18px;
  }

  .menu_tree-leve-3 {
    padding-left: 45px;
    color:  #581845 ;
    font-size: 16px;
  }

  .menu_tree-leve-4 {
    padding-left: 60px;
    font-style: italic;
    color: purple;
    font-size: 16px;
  }

  .menu_tree-leve-5 {
    padding-left: 75px;
    color: Navy;
    font-size: 16px;
  }

  .menu_tree-leve-6 {
    padding-left: 90px;
    font-style: italic;
    color: Olive;
    font-size: 16px;
 }
}

body.node-edit.role-is-authenticated.page-node-type-empl {
  form.node-empl-edit-form.node-form div.layout-region__content {
    max-width: 100% !important;
  }
  table[id^="field-classification-values"].field-multiple-table {
    label.form-item__label {
      margin-top: 20px !important;
    }
  }
}

body.node-edit.role-is-authenticated.page-node-type-news {
  form.node-news-edit-form.node-form div.layout-region__content {
    max-width: 100% !important;
  }
}
body.role-is-authenticated.role-is-creator.admin-structure.user-logged-in.path-admin.adminstructuremenumanagemain, 
body.role-is-authenticated.role-is-pab_admin.admin-structure.user-logged-in.path-admin.adminstructuremenumanagemain {
	tr[data-drupal-selector^="edit-links-menu-plugin-idmenu-link-content"]{
		td.checkbox,th.checkbox {
			display: none;
		}
	}
	table[data-drupal-selector="edit-links"]{
	        td.checkbox,th.checkbox {
			display: none;
		}
	 }
 }
