body.user-anonymous.home {
  &.i18n-en {
    div.messages__wrapper {
      div.alert-success em.placeholder a[href*="/internal-employment"] {
        // Hide the anchor link only when user anonymous published-no and only for the 'empl' (employment opportunity) pages.
        display: none;
      }
    }
  }
  &.i18n-fr {
    div.messages__wrapper {
      div.alert-success em.placeholder a[href*="/fr/possibilites-dempl"] {
        // Hide the anchor link only when user anonymous published-no and only for the 'empl' (employment opportunity) pages.
        display: none;
      }
    }
  }
}

