body.news-article-form-page .button--small, body.news-article-form-page .btn-default,
body.employment-opportunity-request-form-page .button--small,
body.employment-opportunity-request-form-page .btn-default,
body.node-50 .button--small,
body.node-50 .btn-default,
body.node-49 .button--small,
body.node-49 .btn-default {
  max-height: 38px;
}
body.news-article-form-page #edit-submit,
body.employment-opportunity-request-form-page #edit-submit,
body.node-50 #edit-submit,
body.node-49 #edit-submit {
  display: inline-block;
  margin-left: 5px;
}
body.news-article-form-page .preview-wrapper,
body.employment-opportunity-request-form-page .preview-wrapper,
body.node-50 .preview-wrapper,
body.node-49 .preview-wrapper {
  display: inline-block;
}
body.news-article-form-page .preview-wrapper .glyphicon-new-window::before,
body.employment-opportunity-request-form-page .preview-wrapper .glyphicon-new-window::before,
body.node-50 .preview-wrapper .glyphicon-new-window::before,
body.node-49 .preview-wrapper .glyphicon-new-window::before {
  content: "\e164";
}
body.news-article-form-page button[data-drupal-selector*="edit-actions"],
body.news-article-form-page button[id*="edit-actions-save-modal"],
body.news-article-form-page .editor-image-dialog .form-actions button,
body.employment-opportunity-request-form-page button[data-drupal-selector*="edit-actions"],
body.employment-opportunity-request-form-page button[id*="edit-actions-save-modal"],
body.employment-opportunity-request-form-page .editor-image-dialog .form-actions button,
body.node-50 button[data-drupal-selector*="edit-actions"],
body.node-50 button[id*="edit-actions-save-modal"],
body.node-50 .editor-image-dialog .form-actions button,
body.node-49 button[data-drupal-selector*="edit-actions"],
body.node-49 button[id*="edit-actions-save-modal"],
body.node-49 .editor-image-dialog .form-actions button {
  min-width: 95px !important;
}

body.nodeaddempl .field-group-fieldset,
body.node-edit.page-node-type-empl .field-group-fieldset {
  width: 100% !important;
}

body.nodeaddempl .field-group-fieldset .js-form-item.form-item,
body.node-edit.page-node-type-empl .field-group-fieldset .js-form-item.form-item {
  float: inherit !important;
  width: auto;
  margin-right: auto;
}

body.nodeaddempl .field-group-fieldset .field--type-list-string,
body.node-edit.page-node-type-empl .field-group-fieldset .field--type-list-string {
  float: left;
  margin-right: 30px;
}

body.role-is-authenticated.nodeaddempl .field-group-fieldset .paragraphs-subform,
body.node-edit.page-node-type-empl .field-group-fieldset .paragraphs-subform {
  max-height: 100px;
  margin-top: -90px;
  margin-left: 217px;
}

body.role-is-authenticated.nodeaddempl select[name*="[subform][field_class_id]"],
body.node-edit.page-node-type-empl select[name*="[subform][field_class_id]"] {
  min-width: 165px;
}

body.role-is-authenticated.nodeaddempl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"],
body.node-edit.page-node-type-empl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"] {
  margin-top: 30px;
  max-width: 120px;
  margin-left: 10px;
}

body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation .claro-details__summary.form-required::before {
  display: none;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation .claro-details__summary.form-required {
  padding-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation div.claro-details__wrapper.details-wrapper {
  margin-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento .claro-details__wrapper.details-wrapper {
  margin-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento summary.claro-details__summary::before {
  display: none;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento summary.claro-details__summary.form-required {
  padding-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-level-and span.fieldset__label {
  padding-left: 0px !important;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-level-and div.fieldset__wrapper {
  margin-left: 0px;
}

body.node-49 form.js-media-library-add-form button.js-form-submit {
  display: none !important;
}

body.user-anonymous #node-news-form #edit-revision-information, body.user-anonymous #node-news-form a[href="#edit-revision-information"] {
  display: none !important;
}
body.user-anonymous #node-news-form .vertical-tabs-panes {
  border: none !important;
}
body.user-anonymous #node-news-form #edit-footer {
  display: none !important;
}
body.user-anonymous.news-article-form-page div[id^="edit-field-newsfile5"] div.panel-heading a[href^="#edit-field-newsfile5"] {
  display: none !important;
}
body.user-anonymous.news-article-form-page div[id^="edit-field-newsfile5"].help-block {
  display: none !important;
}
body.user-anonymous.news-article-form-page div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-en-0-summary.js-form-item-body-etuf-en-0-summary.form-group {
  display: none !important;
}
body.user-anonymous.news-article-form-page div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-fr-0-summary.js-form-item-body-etuf-fr-0-summary.form-group {
  display: none !important;
}
body.user-anonymous.news-article-form-page span.field-edit-link button.link.link-edit-summary.btn.btn-default.btn-xs.pull-right {
  display: none !important;
}
body.user-anonymous #edit-field-newsexpirydate-0 {
  display: none !important;
}
body.user-anonymous.role-is-anonymous.news-article-form-page div.form-type-select div.select-wrapper select.error, body.user-anonymous.nodeaddnews.role-is-anonymous div.form-type-select div.select-wrapper select.error {
  margin-bottom: 0px;
}
body.user-anonymous.role-is-anonymous.news-article-form-page div.select-wrapper:has(div.form-item--error-message)::after, body.user-anonymous.nodeaddnews.role-is-anonymous div.select-wrapper:has(div.form-item--error-message)::after {
  position: absolute;
  margin-top: 5px;
}
body.user-anonymous.role-is-anonymous.news-article-form-page div#edit-actions, body.user-anonymous.nodeaddnews.role-is-anonymous div#edit-actions {
  position: relative;
}
body.user-anonymous.role-is-anonymous.news-article-form-page div#edit-actions .preview-wrapper, body.user-anonymous.nodeaddnews.role-is-anonymous div#edit-actions .preview-wrapper {
  position: relative;
  padding-top: 0px;
  padding-bottom: 15px;
  display: inline-block;
}
body.user-anonymous.role-is-anonymous.news-article-form-page button#edit-submit, body.user-anonymous.nodeaddnews.role-is-anonymous button#edit-submit {
  margin-left: 5px;
}
body.user-anonymous.role-is-anonymous.news-article-form-page #block-grstheme-bootstrap-sharewidgetblock, body.user-anonymous.role-is-anonymous.news-article-form-page #block-grstheme-bootstrap-reportproblemblock, body.user-anonymous.nodeaddnews.role-is-anonymous #block-grstheme-bootstrap-sharewidgetblock, body.user-anonymous.nodeaddnews.role-is-anonymous #block-grstheme-bootstrap-reportproblemblock {
  padding-top: 35px !important;
}

body.nodeaddnews.role-is-anonymous.node-add #wb-cont {
  display: none;
}
body.nodeaddnews.role-is-anonymous.node-add #block-cutomblock-submitarticlefornewsatwork .block-title {
  font-size: 34px !important;
}
body.nodeaddnews.role-is-anonymous.node-add div#edit-group-newsposteddate--content label#edit-field-posted-0-value-date-error {
  display: block !important;
}

body.news-article-form-page .help-block, body.nodeaddnews.role-is-anonymous.node-add .help-block {
  font-size: 16px;
  color: #333;
}
body.news-article-form-page #edit-actions, body.news-article-form-page #edit-footer, body.nodeaddnews.role-is-anonymous.node-add #edit-actions, body.nodeaddnews.role-is-anonymous.node-add #edit-footer {
  padding-left: 15px;
}
body.news-article-form-page .preview-wrapper, body.nodeaddnews.role-is-anonymous.node-add .preview-wrapper {
  padding-top: 15px;
}
body.news-article-form-page .preview-helptext-paragraph, body.nodeaddnews.role-is-anonymous.node-add .preview-helptext-paragraph {
  float: right;
}
body.news-article-form-page .submit-helptext-paragraph, body.nodeaddnews.role-is-anonymous.node-add .submit-helptext-paragraph {
  float: right !important;
}
body.news-article-form-page .select-wrapper label.error, body.nodeaddnews.role-is-anonymous.node-add .select-wrapper label.error {
  position: absolute;
  left: 0;
  top: 45px;
}
body.news-article-form-page form.node-news-form div.form-type-select div.select-wrapper select.error, body.nodeaddnews.role-is-anonymous.node-add form.node-news-form div.form-type-select div.select-wrapper select.error {
  margin-bottom: 35px;
}
body.news-article-form-page .btn.icon-before .glyphicon, body.nodeaddnews.role-is-anonymous.node-add .btn.icon-before .glyphicon {
  min-height: 20px;
  float: left;
  padding-top: 3px;
  padding-right: 5px;
}
body.news-article-form-page #edit-group-newsreviewerandapprover div a.panel-title, body.news-article-form-page #edit-group-submitter-s-contact-inform div a.panel-title,
body.news-article-form-page #edit-group-newsposteddate div a.panel-title, body.news-article-form-page #edit-group-newsarticle div a.panel-title,
body.news-article-form-page #edit-group-newssentby div a.panel-title, body.news-article-form-page #edit-group-newsarticleheadline div a.panel-title,
body.news-article-form-page #edit-group-aboutarticle div a.panel-title, body.news-article-form-page #edit-group-newstranslationreqnum div a.panel-title,
body.news-article-form-page #edit-group-newsnotes div a.panel-title, body.news-article-form-page #edit-group-newsattachedfiles div a.panel-title, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsreviewerandapprover div a.panel-title, body.nodeaddnews.role-is-anonymous.node-add #edit-group-submitter-s-contact-inform div a.panel-title,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsposteddate div a.panel-title, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsarticle div a.panel-title,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newssentby div a.panel-title, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsarticleheadline div a.panel-title,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-aboutarticle div a.panel-title, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newstranslationreqnum div a.panel-title,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsnotes div a.panel-title, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsattachedfiles div a.panel-title {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}
body.news-article-form-page #edit-group-newsreviewerandapprover.panel-default, body.news-article-form-page #edit-group-submitter-s-contact-inform.panel-default,
body.news-article-form-page #edit-group-newsposteddate.panel-default, body.news-article-form-page #edit-group-newsarticle.panel-default,
body.news-article-form-page #edit-group-newssentby.panel-default, body.news-article-form-page #edit-group-newsarticleheadline.panel-default,
body.news-article-form-page #edit-group-aboutarticle.panel-default, body.news-article-form-page #edit-group-newstranslationreqnum.panel-default,
body.news-article-form-page #edit-group-newsnotes.panel-default, body.news-article-form-page #edit-group-newsattachedfiles.panel-default, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsreviewerandapprover.panel-default, body.nodeaddnews.role-is-anonymous.node-add #edit-group-submitter-s-contact-inform.panel-default,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsposteddate.panel-default, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsarticle.panel-default,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newssentby.panel-default, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsarticleheadline.panel-default,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-aboutarticle.panel-default, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newstranslationreqnum.panel-default,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsnotes.panel-default, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsattachedfiles.panel-default {
  border-color: white;
}
body.news-article-form-page #edit-group-newsreviewerandapprover div.panel-heading, body.news-article-form-page #edit-group-submitter-s-contact-inform div.panel-heading,
body.news-article-form-page #edit-group-newsposteddate div.panel-heading, body.news-article-form-page #edit-group-newsarticle div.panel-heading,
body.news-article-form-page #edit-group-newssentby div.panel-heading, body.news-article-form-page #edit-group-newsarticleheadline div.panel-heading,
body.news-article-form-page #edit-group-aboutarticle div.panel-heading, body.news-article-form-page #edit-group-newstranslationreqnum div.panel-heading,
body.news-article-form-page #edit-group-newsnotes div.panel-heading, body.news-article-form-page #edit-group-newsattachedfiles div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsreviewerandapprover div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-group-submitter-s-contact-inform div.panel-heading,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsposteddate div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsarticle div.panel-heading,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newssentby div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsarticleheadline div.panel-heading,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-aboutarticle div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newstranslationreqnum div.panel-heading,
body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsnotes div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-group-newsattachedfiles div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
}
body.news-article-form-page #edit-field-newsfile1-0--description, body.nodeaddnews.role-is-anonymous.node-add #edit-field-newsfile1-0--description {
  display: none;
}
body.news-article-form-page #edit-field-newsfile2-0--description, body.nodeaddnews.role-is-anonymous.node-add #edit-field-newsfile2-0--description {
  display: none;
}
body.news-article-form-page #edit-field-newsfile3-0--description, body.nodeaddnews.role-is-anonymous.node-add #edit-field-newsfile3-0--description {
  display: none;
}
body.news-article-form-page #edit-field-newsfile4-0--description, body.nodeaddnews.role-is-anonymous.node-add #edit-field-newsfile4-0--description {
  display: none;
}
body.news-article-form-page #edit-field-newssubmitterphone-0-value, body.nodeaddnews.role-is-anonymous.node-add #edit-field-newssubmitterphone-0-value {
  display: block;
}
body.news-article-form-page #block-news-form-add h2.block-title, body.nodeaddnews.role-is-anonymous.node-add #block-news-form-add h2.block-title {
  display: none !important;
}
body.news-article-form-page #edit-field-newsexpirydate-0 div.panel-heading, body.nodeaddnews.role-is-anonymous.node-add #edit-field-newsexpirydate-0 div.panel-heading {
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}
body.news-article-form-page .tabbable.tabs-left.vertical-tabs.clearfix, body.nodeaddnews.role-is-anonymous.node-add .tabbable.tabs-left.vertical-tabs.clearfix {
  display: none !important;
}
body.news-article-form-page div[id^="edit-field-newsfile5"] div.panel-heading a[href^="#edit-field-newsfile5"], body.nodeaddnews.role-is-anonymous.node-add div[id^="edit-field-newsfile5"] div.panel-heading a[href^="#edit-field-newsfile5"] {
  display: none !important;
}
body.news-article-form-page div[id^="edit-field-newsfile5"].help-block, body.nodeaddnews.role-is-anonymous.node-add div[id^="edit-field-newsfile5"].help-block {
  display: none !important;
}
body.news-article-form-page div[id^="edit-field-posted"] div.form-item--error-message, body.nodeaddnews.role-is-anonymous.node-add div[id^="edit-field-posted"] div.form-item--error-message {
  display: block;
}

body.node-50.role-is-authenticated #node-empl-form .vertical-tabs-panes {
  border: none !important;
}

body.node-50 form.js-media-library-add-form button.js-form-submit {
  display: none !important;
}

body.role-is-anonymous #node-empl-form .vertical-tabs-panes {
  border: none !important;
}
body.role-is-anonymous #edit-field-classification-wrapper table.field-multiple-table thead, body.role-is-anonymous #edit-field-classification-wrapper .field_classification-delta-order, body.role-is-anonymous #edit-field-classification-wrapper td.delta-order {
  display: none;
}
body.role-is-anonymous.employment-opportunity-request-form-page div.form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label.form-group, body.role-is-anonymous.nodeaddempl div.form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label.form-group {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page div#edit-actions, body.role-is-anonymous.nodeaddempl div#edit-actions {
  position: relative;
}
body.role-is-anonymous.employment-opportunity-request-form-page div#edit-actions .preview-wrapper, body.role-is-anonymous.nodeaddempl div#edit-actions .preview-wrapper {
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
}
body.role-is-anonymous.employment-opportunity-request-form-page button#edit-submit, body.role-is-anonymous.nodeaddempl button#edit-submit {
  margin-left: 5px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #block-grstheme-bootstrap-sharewidgetblock, body.role-is-anonymous.employment-opportunity-request-form-page #block-grstheme-bootstrap-reportproblemblock, body.role-is-anonymous.nodeaddempl #block-grstheme-bootstrap-sharewidgetblock, body.role-is-anonymous.nodeaddempl #block-grstheme-bootstrap-reportproblemblock {
  padding-top: 35px !important;
}

body.role-is-anonymous.employment-opportunity-request-form-page div.select-wrapper:has(select[id='edit-field-branch'] + div.form-item--error-message)::after,
body.role-is-anonymous.nodeaddempl.node-add div.select-wrapper:has(select[id='edit-field-branch'] + div.form-item--error-message)::after {
  position: absolute;
  margin-top: 5px;
}
body.role-is-anonymous.employment-opportunity-request-form-page div.select-wrapper:has(select[id*='-subform-field-class-level'] + div.form-item--error-message)::after,
body.role-is-anonymous.nodeaddempl.node-add div.select-wrapper:has(select[id*='-subform-field-class-level'] + div.form-item--error-message)::after {
  position: absolute;
  margin-top: 5px;
  margin-right: 70px;
}
body.role-is-anonymous.employment-opportunity-request-form-page div.select-wrapper:has(select[id*='-subform-field-class-id'] + div.form-item--error-message)::after,
body.role-is-anonymous.nodeaddempl.node-add div.select-wrapper:has(select[id*='-subform-field-class-id'] + div.form-item--error-message)::after {
  position: absolute;
  margin-top: 5px;
  margin-right: 300px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #block-customblock-submitemploymentopportunity,
body.role-is-anonymous.nodeaddempl.node-add #block-customblock-submitemploymentopportunity {
  padding-bottom: 20px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #block-customblock-submitemploymentopportunity .block-title,
body.role-is-anonymous.nodeaddempl.node-add #block-customblock-submitemploymentopportunity .block-title {
  font-size: 34px !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page.role-is-anonymous #block-privacynotice,
body.role-is-anonymous.nodeaddempl.node-add.role-is-anonymous #block-privacynotice {
  display: none;
}
body.role-is-anonymous.employment-opportunity-request-form-page.role-is-anonymous button.tabledrag-toggle-weight.btn-sm.btn.btn-default,
body.role-is-anonymous.nodeaddempl.node-add.role-is-anonymous button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #field-email-add-more-wrapper div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default,
body.role-is-anonymous.nodeaddempl.node-add #field-email-add-more-wrapper div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #field-email-values td.field-multiple-drag,
body.role-is-anonymous.nodeaddempl.node-add #field-email-values td.field-multiple-drag {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-level-and div.panel-heading,
body.role-is-anonymous.nodeaddempl.node-add #edit-group-level-and div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-level-and div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default,
body.role-is-anonymous.nodeaddempl.node-add #edit-group-level-and div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-field-classification-wrapper a.tabledrag-handle,
body.role-is-anonymous.nodeaddempl.node-add #edit-field-classification-wrapper a.tabledrag-handle {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-field-classification-0-top.paragraph-type-top.form-group.js-form-wrapper.form-wrapper,
body.role-is-anonymous.nodeaddempl.node-add #edit-field-classification-0-top.paragraph-type-top.form-group.js-form-wrapper.form-wrapper {
  display: none !important;
}

body.role-is-anonymous.employment-opportunity-request-form-page,
body.role-is-anonymous.nodeaddempl,
body.node-50.role-is-authenticated {
  /* block-privacynotice */
  /* block-grstheme-bootstrap-reportproblemblock */
}
body.role-is-anonymous.employment-opportunity-request-form-page .help-block,
body.role-is-anonymous.nodeaddempl .help-block,
body.node-50.role-is-authenticated .help-block {
  font-size: 16px;
  color: #333;
}
body.role-is-anonymous.employment-opportunity-request-form-page div#edit-group-emplopportunityclosingdate--content label#edit-field-date-closing-0-value-date-error,
body.role-is-anonymous.nodeaddempl div#edit-group-emplopportunityclosingdate--content label#edit-field-date-closing-0-value-date-error,
body.node-50.role-is-authenticated div#edit-group-emplopportunityclosingdate--content label#edit-field-date-closing-0-value-date-error {
  display: block !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-actions, body.role-is-anonymous.employment-opportunity-request-form-page #edit-footer,
body.role-is-anonymous.nodeaddempl #edit-actions,
body.role-is-anonymous.nodeaddempl #edit-footer,
body.node-50.role-is-authenticated #edit-actions,
body.node-50.role-is-authenticated #edit-footer {
  padding-left: 15px;
}
body.role-is-anonymous.employment-opportunity-request-form-page .preview-wrapper,
body.role-is-anonymous.nodeaddempl .preview-wrapper,
body.node-50.role-is-authenticated .preview-wrapper {
  padding-top: 15px;
}
body.role-is-anonymous.employment-opportunity-request-form-page .preview-helptext-paragraph,
body.role-is-anonymous.nodeaddempl .preview-helptext-paragraph,
body.node-50.role-is-authenticated .preview-helptext-paragraph {
  float: right;
}
body.role-is-anonymous.employment-opportunity-request-form-page .btn.icon-before .glyphicon,
body.role-is-anonymous.nodeaddempl .btn.icon-before .glyphicon,
body.node-50.role-is-authenticated .btn.icon-before .glyphicon {
  min-height: 20px;
  float: left;
  padding-top: 3px;
  padding-right: 5px;
}
body.role-is-anonymous.employment-opportunity-request-form-page .select-wrapper label.error,
body.role-is-anonymous.nodeaddempl .select-wrapper label.error,
body.node-50.role-is-authenticated .select-wrapper label.error {
  position: absolute;
  left: 0;
  top: 35px;
  margin-bottom: 10px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitylocation div.panel-heading, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunityopento div.panel-heading,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emplopportunityclosingdate div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitylocation div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunityopento div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-emplopportunityclosingdate div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunitylocation div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunityopento div.panel-heading,
body.node-50.role-is-authenticated #edit-group-emplopportunityclosingdate div.panel-heading {
  padding-left: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page div#edit-group-emplopportunityclosingdate--content,
body.role-is-anonymous.nodeaddempl div#edit-group-emplopportunityclosingdate--content,
body.node-50.role-is-authenticated div#edit-group-emplopportunityclosingdate--content {
  padding-left: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page div#edit-group-opportunity-details,
body.role-is-anonymous.nodeaddempl div#edit-group-opportunity-details,
body.node-50.role-is-authenticated div#edit-group-opportunity-details {
  margin-bottom: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunity-approval div a.panel-title, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunity-details div a.panel-title,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-newsarticleheadline div a.panel-title, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitydescription div a.panel-title,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emploppsubitappquestion div a.panel-title, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-employmentrequestorinfo div a.panel-title,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-empladditionalnotes div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-opportunity-approval div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-opportunity-details div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-newsarticleheadline div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitydescription div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-emploppsubitappquestion div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-employmentrequestorinfo div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-empladditionalnotes div a.panel-title,
body.node-50.role-is-authenticated #edit-group-opportunity-approval div a.panel-title,
body.node-50.role-is-authenticated #edit-group-opportunity-details div a.panel-title,
body.node-50.role-is-authenticated #edit-group-newsarticleheadline div a.panel-title,
body.node-50.role-is-authenticated #edit-group-opportunitydescription div a.panel-title,
body.node-50.role-is-authenticated #edit-group-emploppsubitappquestion div a.panel-title,
body.node-50.role-is-authenticated #edit-group-employmentrequestorinfo div a.panel-title,
body.node-50.role-is-authenticated #edit-group-empladditionalnotes div a.panel-title {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunity-approval.panel-default, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunity-details.panel-default,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitylocation.panel-default, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunityopento.panel-default,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emplopportunityclosingdate.panel-default, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitydescription.panel-default,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-employmentrequestorinfo.panel-default, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emploppsubitappquestion.panel-default,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-empladditionalnotes.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-opportunity-approval.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-opportunity-details.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitylocation.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-opportunityopento.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-emplopportunityclosingdate.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitydescription.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-employmentrequestorinfo.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-emploppsubitappquestion.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-empladditionalnotes.panel-default,
body.node-50.role-is-authenticated #edit-group-opportunity-approval.panel-default,
body.node-50.role-is-authenticated #edit-group-opportunity-details.panel-default,
body.node-50.role-is-authenticated #edit-group-opportunitylocation.panel-default,
body.node-50.role-is-authenticated #edit-group-opportunityopento.panel-default,
body.node-50.role-is-authenticated #edit-group-emplopportunityclosingdate.panel-default,
body.node-50.role-is-authenticated #edit-group-opportunitydescription.panel-default,
body.node-50.role-is-authenticated #edit-group-employmentrequestorinfo.panel-default,
body.node-50.role-is-authenticated #edit-group-emploppsubitappquestion.panel-default,
body.node-50.role-is-authenticated #edit-group-empladditionalnotes.panel-default {
  border-color: white;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunity-approval div.panel-heading, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunity-details div.panel-heading,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitylocation div.panel-heading, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunityopento div.panel-heading,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emplopportunityclosingdate div.panel-heading, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitydescription div.panel-heading,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-employmentrequestorinfo div.panel-heading, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emploppsubitappquestion div.panel-heading,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-empladditionalnotes div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunity-approval div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunity-details div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitylocation div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunityopento div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-emplopportunityclosingdate div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitydescription div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-employmentrequestorinfo div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-emploppsubitappquestion div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-empladditionalnotes div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunity-approval div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunity-details div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunitylocation div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunityopento div.panel-heading,
body.node-50.role-is-authenticated #edit-group-emplopportunityclosingdate div.panel-heading,
body.node-50.role-is-authenticated #edit-group-opportunitydescription div.panel-heading,
body.node-50.role-is-authenticated #edit-group-employmentrequestorinfo div.panel-heading,
body.node-50.role-is-authenticated #edit-group-emploppsubitappquestion div.panel-heading,
body.node-50.role-is-authenticated #edit-group-empladditionalnotes div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitylocation div a.panel-title, body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunityopento div a.panel-title,
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emplopportunityclosingdate div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitylocation div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-opportunityopento div a.panel-title,
body.role-is-anonymous.nodeaddempl #edit-group-emplopportunityclosingdate div a.panel-title,
body.node-50.role-is-authenticated #edit-group-opportunitylocation div a.panel-title,
body.node-50.role-is-authenticated #edit-group-opportunityopento div a.panel-title,
body.node-50.role-is-authenticated #edit-group-emplopportunityclosingdate div a.panel-title {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: white;
  font-size: 20.8px;
  font-weight: bold;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunitylocation--content.panel-body,
body.role-is-anonymous.nodeaddempl #edit-group-opportunitylocation--content.panel-body,
body.node-50.role-is-authenticated #edit-group-opportunitylocation--content.panel-body {
  padding-left: 0px;
  padding-right: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-opportunityopento--content.panel-body,
body.role-is-anonymous.nodeaddempl #edit-group-opportunityopento--content.panel-body,
body.node-50.role-is-authenticated #edit-group-opportunityopento--content.panel-body {
  padding-left: 0px;
  padding-right: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-level-and div.panel-body,
body.role-is-anonymous.nodeaddempl #edit-group-level-and div.panel-body,
body.node-50.role-is-authenticated #edit-group-level-and div.panel-body {
  padding: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #field-classification-values th.field-label.form-required,
body.role-is-anonymous.nodeaddempl #field-classification-values th.field-label.form-required,
body.node-50.role-is-authenticated #field-classification-values th.field-label.form-required {
  padding-left: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-field-classification-wrapper .paragraph-type-top.form-group.js-form-wrapper.form-wrapper,
body.role-is-anonymous.nodeaddempl #edit-field-classification-wrapper .paragraph-type-top.form-group.js-form-wrapper.form-wrapper,
body.node-50.role-is-authenticated #edit-field-classification-wrapper .paragraph-type-top.form-group.js-form-wrapper.form-wrapper {
  float: right !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page.i18n-en select[name$="[subform][field_class_id]"],
body.role-is-anonymous.nodeaddempl.i18n-en select[name$="[subform][field_class_id]"],
body.node-50.role-is-authenticated.i18n-en select[name$="[subform][field_class_id]"] {
  min-width: 168px !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page.i18n-fr select[name$="[subform][field_class_id]"],
body.role-is-anonymous.nodeaddempl.i18n-fr select[name$="[subform][field_class_id]"],
body.node-50.role-is-authenticated.i18n-fr select[name$="[subform][field_class_id]"] {
  min-width: 190px !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page div[class$="-subform-field-class-id form-group"],
body.role-is-anonymous.nodeaddempl div[class$="-subform-field-class-id form-group"],
body.node-50.role-is-authenticated div[class$="-subform-field-class-id form-group"] {
  float: left !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page.i18n-fr .select-wrapper label.error,
body.role-is-anonymous.nodeaddempl.i18n-fr .select-wrapper label.error,
body.node-50.role-is-authenticated.i18n-fr .select-wrapper label.error {
  position: absolute;
}
body.role-is-anonymous.employment-opportunity-request-form-page div[class$="-subform-field-class-sub form-group"],
body.role-is-anonymous.nodeaddempl div[class$="-subform-field-class-sub form-group"],
body.node-50.role-is-authenticated div[class$="-subform-field-class-sub form-group"] {
  float: left !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page div[class$="-subform-field-class-level form-group"],
body.role-is-anonymous.nodeaddempl div[class$="-subform-field-class-level form-group"],
body.node-50.role-is-authenticated div[class$="-subform-field-class-level form-group"] {
  float: left !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emploppsubitappquestion.panel-default,
body.role-is-anonymous.nodeaddempl #edit-group-emploppsubitappquestion.panel-default,
body.node-50.role-is-authenticated #edit-group-emploppsubitappquestion.panel-default {
  border-color: white;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-group-emploppsubitappquestion div.panel-heading,
body.role-is-anonymous.nodeaddempl #edit-group-emploppsubitappquestion div.panel-heading,
body.node-50.role-is-authenticated #edit-group-emploppsubitappquestion div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-field-employmentrequestorphone-0-value,
body.role-is-anonymous.nodeaddempl #edit-field-employmentrequestorphone-0-value,
body.node-50.role-is-authenticated #edit-field-employmentrequestorphone-0-value {
  display: block;
}
body.role-is-anonymous.employment-opportunity-request-form-page #block-news-form-add h2.block-title,
body.role-is-anonymous.nodeaddempl #block-news-form-add h2.block-title,
body.node-50.role-is-authenticated #block-news-form-add h2.block-title {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #block-privacynotice,
body.role-is-anonymous.nodeaddempl #block-privacynotice,
body.node-50.role-is-authenticated #block-privacynotice {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #block-grstheme-bootstrap-reportproblemblock,
body.role-is-anonymous.nodeaddempl #block-grstheme-bootstrap-reportproblemblock,
body.node-50.role-is-authenticated #block-grstheme-bootstrap-reportproblemblock {
  padding-top: 15px !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-field-classification-wrapper th.field-label.form-required,
body.role-is-anonymous.nodeaddempl #edit-field-classification-wrapper th.field-label.form-required,
body.node-50.role-is-authenticated #edit-field-classification-wrapper th.field-label.form-required {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page #edit-field-classification-wrapper div.paragraph-type-title.form-group.js-form-wrapper.form-wrapper,
body.role-is-anonymous.nodeaddempl #edit-field-classification-wrapper div.paragraph-type-title.form-group.js-form-wrapper.form-wrapper,
body.node-50.role-is-authenticated #edit-field-classification-wrapper div.paragraph-type-title.form-group.js-form-wrapper.form-wrapper {
  display: none !important;
}
body.role-is-anonymous.employment-opportunity-request-form-page div.form-item--error-message.alert.alert-danger.alert-sm.form-group,
body.role-is-anonymous.nodeaddempl div.form-item--error-message.alert.alert-danger.alert-sm.form-group,
body.node-50.role-is-authenticated div.form-item--error-message.alert.alert-danger.alert-sm.form-group {
  color: #a94442;
}

body.nodeaddnews.user-anonymous ol.breadcrumb li:last-child, body.nodeaddempl.user-anonymous ol.breadcrumb li:last-child {
  display: none;
}

body.nodeaddempl.role-is-anonymous {
  /* field title float left class */
}
body.nodeaddempl.role-is-anonymous div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-en-0-summary.js-form-item-body-etuf-en-0-summary.form-group {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-fr-0-summary.js-form-item-body-etuf-fr-0-summary.form-group {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous span.field-edit-link button.link.link-edit-summary.btn.btn-default.btn-xs.pull-right {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous div.form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label.form-group {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous div#edit-actions {
  position: relative;
}
body.nodeaddempl.role-is-anonymous div#edit-actions .preview-wrapper {
  position: relative;
  padding-bottom: 15px;
}
body.nodeaddempl.role-is-anonymous #block-grstheme-bootstrap-sharewidgetblock, body.nodeaddempl.role-is-anonymous #block-grstheme-bootstrap-reportproblemblock {
  padding-top: 35px !important;
}
body.nodeaddempl.role-is-anonymous .field--name-field-type .field--label {
  float: left;
}
body.nodeaddempl.role-is-anonymous .field--name-field-type .field--item {
  float: left;
}
body.nodeaddempl.role-is-anonymous .field--name-field-type .field--label::after {
  content: '\00a0\00a0';
}
body.nodeaddempl.role-is-anonymous .field--name-field-type .field--item::after {
  content: ',\00a0';
}
body.nodeaddempl.role-is-anonymous .field--name-field-type .field--item:last-child::after {
  content: '';
}
body.nodeaddempl.role-is-anonymous .field--name-field-type .field--item:last-child {
  float: none;
}
body.nodeaddempl.role-is-anonymous .field--name-field-classification .field--label {
  float: left;
}
body.nodeaddempl.role-is-anonymous .field--name-field-classification .field--label::after {
  content: '\00a0\00a0';
}
body.nodeaddempl.role-is-anonymous .field.field--name-body.field--type-text-with-summary.field--label-above .field--label::before {
  content: "\A";
  white-space: pre;
}
body.nodeaddempl.role-is-anonymous .field.field--name-body.field--type-text-with-summary.field--label-above .field--item::before {
  content: "\A";
  white-space: pre;
}
body.nodeaddempl.role-is-anonymous .field.field--name-body.field--type-text-with-summary.field--label-above .field--label {
  font-size: 24px;
}
body.nodeaddempl.role-is-anonymous .field.field--name-field-email .field--label {
  float: left;
}
body.nodeaddempl.role-is-anonymous .field.field.field--name-field-email .field--label::after {
  content: "\00a0\00a0";
}
body.nodeaddempl.role-is-anonymous #block-privacynotice h2.block-title {
  display: none;
}

/* block-privacynotice */
#block-privacynotice {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* block-grstheme-bootstrap-reportproblemblock */
#block-grstheme-bootstrap-reportproblemblock {
  padding-top: 15px !important;
}

body.nodeaddempl.role-is-anonymous.node-add #wb-cont {
  display: none;
}
body.nodeaddempl.role-is-anonymous.node-add #block-customblock-submitemploymentopportunity {
  padding-bottom: 20px;
}
body.nodeaddempl.role-is-anonymous.node-add #block-customblock-submitemploymentopportunity .block-title {
  font-size: 34px !important;
}
body.nodeaddempl.role-is-anonymous.node-add #block-privacynotice {
  display: none;
}
body.nodeaddempl.role-is-anonymous.node-add button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
  display: none !important;
}

body.nodeaddempl.role-is-anonymous {
  /* block-privacynotice */
  /* block-grstheme-bootstrap-reportproblemblock */
}
body.nodeaddempl.role-is-anonymous .help-block {
  font-size: 16px;
  color: #333;
}
body.nodeaddempl.role-is-anonymous #edit-actions, body.nodeaddempl.role-is-anonymous #edit-footer {
  padding-left: 15px;
}
body.nodeaddempl.role-is-anonymous .preview-wrapper {
  padding-top: 15px;
}
body.nodeaddempl.role-is-anonymous .preview-helptext-paragraph {
  float: right;
}
body.nodeaddempl.role-is-anonymous .btn.icon-before .glyphicon {
  min-height: 20px;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunitylocation div.panel-heading, body.nodeaddempl.role-is-anonymous #edit-group-opportunityopento div.panel-heading,
body.nodeaddempl.role-is-anonymous #edit-group-emplopportunityclosingdate div.panel-heading {
  padding-left: 0px;
}
body.nodeaddempl.role-is-anonymous div#edit-group-emplopportunityclosingdate--content {
  padding-left: 0px;
}
body.nodeaddempl.role-is-anonymous div#edit-group-opportunity-details {
  margin-bottom: 0px;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunity-approval div a.panel-title, body.nodeaddempl.role-is-anonymous #edit-group-opportunity-details div a.panel-title,
body.nodeaddempl.role-is-anonymous #edit-group-newsarticleheadline div a.panel-title, body.nodeaddempl.role-is-anonymous #edit-group-opportunitydescription div a.panel-title,
body.nodeaddempl.role-is-anonymous #edit-group-emploppsubitappquestion div a.panel-title, body.nodeaddempl.role-is-anonymous #edit-group-employmentrequestorinfo div a.panel-title,
body.nodeaddempl.role-is-anonymous #edit-group-empladditionalnotes div a.panel-title {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunity-approval.panel-default, body.nodeaddempl.role-is-anonymous #edit-group-opportunity-details.panel-default,
body.nodeaddempl.role-is-anonymous #edit-group-opportunitylocation.panel-default, body.nodeaddempl.role-is-anonymous #edit-group-opportunityopento.panel-default,
body.nodeaddempl.role-is-anonymous #edit-group-emplopportunityclosingdate.panel-default, body.nodeaddempl.role-is-anonymous #edit-group-opportunitydescription.panel-default,
body.nodeaddempl.role-is-anonymous #edit-group-employmentrequestorinfo.panel-default, body.nodeaddempl.role-is-anonymous #edit-group-emploppsubitappquestion.panel-default,
body.nodeaddempl.role-is-anonymous #edit-group-empladditionalnotes.panel-default {
  border-color: white;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunity-approval div.panel-heading, body.nodeaddempl.role-is-anonymous #edit-group-opportunity-details div.panel-heading,
body.nodeaddempl.role-is-anonymous #edit-group-opportunitylocation div.panel-heading, body.nodeaddempl.role-is-anonymous #edit-group-opportunityopento div.panel-heading,
body.nodeaddempl.role-is-anonymous #edit-group-emplopportunityclosingdate div.panel-heading, body.nodeaddempl.role-is-anonymous #edit-group-opportunitydescription div.panel-heading,
body.nodeaddempl.role-is-anonymous #edit-group-employmentrequestorinfo div.panel-heading, body.nodeaddempl.role-is-anonymous #edit-group-emploppsubitappquestion div.panel-heading,
body.nodeaddempl.role-is-anonymous #edit-group-empladditionalnotes div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunitylocation div a.panel-title, body.nodeaddempl.role-is-anonymous #edit-group-opportunityopento div a.panel-title,
body.nodeaddempl.role-is-anonymous #edit-group-emplopportunityclosingdate div a.panel-title {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: white;
  font-size: 20.8px;
  font-weight: bold;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunitylocation--content.panel-body {
  padding-left: 0px;
  padding-right: 0px;
}
body.nodeaddempl.role-is-anonymous #edit-group-opportunityopento--content.panel-body {
  padding-left: 0px;
  padding-right: 0px;
}
body.nodeaddempl.role-is-anonymous #edit-group-level-and div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
  display: none !important;
}
body.nodeaddempl.role-is-anonymous #edit-group-level-and div.panel-body {
  padding: 0px;
}
body.nodeaddempl.role-is-anonymous #edit-group-level-and div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous label#edit-field-branch-error ::after {
  top: 30%;
}
body.nodeaddempl.role-is-anonymous #edit-field-classification-wrapper a.tabledrag-handle {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous.i18n-en select[name$="[subform][field_class_id]"] {
  min-width: 168px !important;
}
body.nodeaddempl.role-is-anonymous.i18n-fr select[name$="[subform][field_class_id]"] {
  min-width: 190px !important;
}
body.nodeaddempl.role-is-anonymous div[class$="-subform-field-class-id form-group"] {
  float: left !important;
}
body.nodeaddempl.role-is-anonymous #field-email-add-more-wrapper div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous #field-email-values td.field-multiple-drag {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous #edit-group-emploppsubitappquestion.panel-default {
  border-color: white;
}
body.nodeaddempl.role-is-anonymous #edit-group-emploppsubitappquestion div.panel-heading {
  border-bottom: 0px;
  padding-bottom: 0px;
}
body.nodeaddempl.role-is-anonymous #edit-field-employmentrequestorphone-0-value {
  display: block;
}
body.nodeaddempl.role-is-anonymous #block-news-form-add h2.block-title {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous #block-privacynotice {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
body.nodeaddempl.role-is-anonymous #block-grstheme-bootstrap-reportproblemblock {
  padding-top: 15px !important;
}
body.nodeaddempl.role-is-anonymous #edit-field-classification-wrapper th.field-label.form-required {
  display: none !important;
}
body.nodeaddempl.role-is-anonymous div.form-item--error-message.alert.alert-danger.alert-sm.form-group {
  color: #a94442;
}

/*
 * DO NOT EDIT THIS FILE.
 * See the following change record for more information,
 * https://www.drupal.org/node/2815083
 * @preserve
 */
/**
 * @file media-library.pcss.css

 * Styling for Media Library.
 */
.media-library-wrapper {
  display: flex;
  margin: -1em;
}
.media-library-wrapper button.button--primary {
  min-width: 125px;
}

/**
 * @todo Reuse or build on vertical tabs styling for the media library menu.
 *   https://www.drupal.org/project/drupal/issues/3023767
 */
.media-library-menu {
  display: block;
  width: 600px;
  max-width: 20%;
  margin: 0;
  /* LTR */
  padding: 0;
  border-bottom: 1px solid #ccc;
  background-color: #e6e5e1;
  line-height: 1;
}

.media-library-menu li > a {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #b3b2ad;
  background-color: #f2f2f0;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}
.media-library-menu li > a.active {
  z-index: 1;
  margin-right: -1px;
  color: #000;
  border-right: 1px solid #fcfcfa;
  border-bottom: 1px solid #b3b2ad;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}

[dir="rtl"] .media-library-menu {
  margin: 0;
}

/**
 * @todo Use a class instead of the li element.
 *   https://www.drupal.org/project/drupal/issues/3029227
 */
.media-library-menu li {
  display: block;
  padding: 0;
  list-style: none;
}

.media-library-menu__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #b3b2ad;
  background-color: #f2f2f0;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.media-library-menu__link:active,
.media-library-menu__link:hover,
.media-library-menu__link:focus {
  background: #fcfcfa;
  text-shadow: none;
}

.media-library-menu__link:focus,
.media-library-menu__link:active {
  outline: none;
}

.media-library-menu__link.active {
  z-index: 1;
  margin-right: -1px;
  /* LTR */
  color: #000;
  border-right: 1px solid #fcfcfa;
  /* LTR */
  border-bottom: 1px solid #b3b2ad;
  background-color: #fff;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}

[dir="rtl"] .media-library-menu__link.active {
  margin-right: 0;
  margin-left: -1px;
  border-right: 0;
  border-left: 1px solid #fcfcfa;
}

.media-library-content {
  width: 100%;
  padding: 1em;
  border-left: 1px solid #b3b2ad;
  /* LTR */
  outline: none;
}

[dir="rtl"] .media-library-content {
  border-right: 1px solid #b3b2ad;
  border-left: 0;
}

/* Generic media add form styles. */
.media-library-add-form--without-input .form-item {
  margin: 0 0 1em;
}

/**
 * Remove outline from added media list.
 *
 * The added media list receives focus after adding new media, but since it is
 * not an interactive element, it does not need an outline.
 */
.media-library-add-form__added-media {
  margin: 0;
  padding: 0;
  outline: none;
}

.media-library-add-form__input-wrapper {
  padding: 16px;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  background: #fcfcfa;
}

/* Style the media add upload form. */
.media-library-add-form--upload.media-library-add-form--without-input .form-item-upload {
  margin-bottom: 0;
}

.media-library-add-form .file-upload-help {
  margin: 8px 0 0;
}

/* Style the media add oEmbed form. */
.media-library-add-form--oembed .media-library-add-form__input-wrapper {
  display: flex;
}

@media screen and (max-width: 37.5em) {
  .media-library-add-form--oembed .media-library-add-form__input-wrapper {
    display: block;
  }
}
.media-library-add-form--oembed.media-library-add-form--without-input .form-item-url {
  margin-bottom: 0;
}

.media-library-add-form-oembed-url {
  width: 100%;
}

/**
 * @todo Remove .button when styles are moved to the seven theme in
 *   https://www.drupal.org/project/drupal/issues/2980769
 */
.button.media-library-add-form-oembed-submit {
  align-self: center;
}

/* Media add form selection styles. */
.media-library-add-form__selected-media {
  margin-top: 1em;
}

/* Change to padding to account for the negative margin for flex grid. */
.media-library-add-form__selected-media .details-wrapper {
  padding: 0 10px 1em 10px;
}

.media-library-add-form__selected-media .media-library-item .field--name-thumbnail img {
  height: 100px;
}

/* Generic media library view styles. */
.media-library-select-all {
  flex-basis: 100%;
  width: 100%;
  margin: 10px 8px;
}

.media-library-select-all input {
  margin-right: 10px;
}

[dir="rtl"] .media-library-select-all input {
  margin-left: 10px;
}

.media-library-views-form,
.media-library-selection,
.media-library-add-form__selected-media .details-wrapper,
.media-library-views-form__bulk_form,
.media-library-view .form--inline {
  display: flex;
  flex-wrap: wrap;
}

.media-library-views-form > .form-actions {
  flex-basis: 100%;
}

.media-library-views-form__header {
  flex-basis: 100%;
}

.media-library-views-form__header .form-item {
  margin-right: 8px;
  /* @TODO RTL? */
}

.media-library-views-form__rows {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: 0 -8px;
}

/**
 * Override the table display of the visually hidden labels.
 *
 * The width, height and overflow properties in the styles for the
 * .visually-hidden class do not work correctly if the element has a table
 * display.
 */
.media-library-item label {
  display: inline-block;
}

/* Media library widget view styles. */
.media-library-wrapper .media-library-view {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.media-library-wrapper .view-header {
  align-self: flex-end;
  margin: 1em 0;
  text-align: right;
  /* LTR */
}

[dir="rtl"] .media-library-wrapper .view-header {
  text-align: left;
}

.media-library-wrapper .media-library-view .view-filters,
.media-library-wrapper .media-library-view .view-content {
  flex: 0 0 100%;
}

.media-library-wrapper .views-display-link {
  margin: 0;
  padding-left: 22px;
  /* LTR */
  color: #333;
  font-size: 15px;
  line-height: 16px;
}

[dir="rtl"] .media-library-wrapper .views-display-link {
  padding-right: 22px;
  padding-left: 0;
}

.media-library-wrapper .views-display-link.is-active {
  font-weight: bold;
}

.media-library-wrapper .views-display-link-widget {
  margin-right: 15px;
  background: url(../../../../misc/icons/333333/grid.svg) left 0 no-repeat;
  /* LTR */
}

[dir="rtl"] .media-library-wrapper .views-display-link-widget {
  background-position: right 0;
}

.media-library-wrapper .views-display-link-widget_table {
  background: url(../../../../misc/icons/333333/table.svg) left 0 no-repeat;
  /* LTR */
}

[dir="rtl"] .media-library-wrapper .views-display-link-widget_table {
  background-position: right 0;
}

/**
 * Style the media library grid items.
 */
.media-library-item {
  position: relative;
}

/**
* The media library item container receives screen reader focus when items are
* removed. Since it is not an interactive element, it does not need an
* outline.
*/
.media-library-item--grid {
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  padding: 8px;
  vertical-align: top;
  outline: none;
  background: #fff;
}

.media-library-item--grid:before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  content: "";
  transition: border-color 0.2s, color 0.2s, background 0.2s;
  pointer-events: none;
  border: 1px solid #dbdbdb;
}

/* Media library widget weight field styles. */
.media-library-item--grid .form-item {
  margin: 0.75em;
}

/* The selected items in the add form should be shown a bit smaller. */
.media-library-add-form__selected-media .media-library-item--small {
  width: 33.3%;
}

.media-library-widget-modal .ui-dialog-buttonpane {
  display: flex;
  align-items: center;
}

.media-library-widget-modal .ui-dialog-buttonpane .form-actions {
  flex: 1;
}

/**
 * By default, the dialog is too narrow to be usable.
 * @see Drupal.ckeditor.openDialog()
 */
.ui-dialog--narrow.media-library-widget-modal {
  max-width: 75%;
}

@media screen and (min-width: 45em) {
  .media-library-item--grid {
    width: 33.3%;
  }

  /* Change the width for the modal and widget since there is less space. */
  .media-library-widget-modal .media-library-item--grid,
  .media-library-selection .media-library-item--grid {
    width: 50%;
  }

  /* The selected items in the add form should be shown a bit smaller. */
  .media-library-add-form__selected-media .media-library-item--small {
    width: 25%;
  }
}
@media screen and (min-width: 60em) {
  .media-library-item--grid {
    width: 25%;
  }

  /* Change the width for the modal and widget since there is less space. */
  .media-library-widget-modal .media-library-item--grid,
  .media-library-selection .media-library-item--grid {
    width: 33.3%;
  }

  /* The selected items in the add form should be shown a bit smaller. */
  .media-library-add-form__selected-media .media-library-item--small {
    width: 16.6%;
  }
}
@media screen and (min-width: 77em) {
  .media-library-item--grid {
    width: 16.6%;
  }

  /* Change the width for the modal and widget since there is less space. */
  .media-library-widget-modal .media-library-item--grid,
  .media-library-selection .media-library-item--grid {
    width: 25%;
  }

  /* The selected items in the add form should be shown a bit smaller. */
  .media-library-add-form__selected-media .media-library-item--small {
    width: 16.6%;
  }
}
.media-library-item--grid .field--name-thumbnail {
  overflow: hidden;
  text-align: center;
  background-color: #ebebeb;
}

.media-library-item--grid .field--name-thumbnail img {
  height: 180px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
}

.media-library-item--grid.is-hover:before,
.media-library-item--grid.checked:before,
.media-library-item--grid.is-focus:before {
  top: 5px;
  left: 5px;
  border-width: 3px;
  border-color: #40b6ff;
  border-radius: 3px;
}

.media-library-item--grid.checked:before {
  border-color: #0076c0;
}

.media-library-item__click-to-select-checkbox {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  /* LTR */
  display: block;
}

[dir="rtl"] .media-library-item__click-to-select-checkbox {
  right: 16px;
  left: auto;
}

.media-library-item__click-to-select-checkbox input {
  width: 20px;
  height: 20px;
}

.media-library-item__click-to-select-checkbox .form-item {
  margin: 0;
}

.media-library-item__click-to-select-trigger {
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}

/* Media library item table styles. */
.media-library-item--table img {
  max-width: 100px;
  height: auto;
}

/* Media library entity view display styles. */
.media-library-item__preview {
  padding-bottom: 34px;
  cursor: move;
}

.media-library-item__status {
  position: absolute;
  top: 40px;
  left: 5px;
  /* LTR */
  padding: 5px 10px;
  pointer-events: none;
  color: #e4e4e4;
  background: #666;
  font-size: 12px;
  font-style: italic;
}

[dir="rtl"] .media-library-item__status {
  right: 5px;
  left: auto;
}

.media-library-item__attributes {
  position: absolute;
  bottom: 0;
  display: block;
  overflow: hidden;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 50px);
  padding: 5px;
  background: white;
}

.media-library-item__name {
  font-size: 14px;
}

.media-library-item__name {
  display: block;
  overflow: hidden;
  margin: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.media-library-item__attributes:hover .media-library-item__name,
.media-library-item--grid.is-focus .media-library-item__name,
.media-library-item--grid.checked .media-library-item__name {
  white-space: normal;
}

.media-library-item__type {
  color: #696969;
  font-size: 12px;
}

.media-library-item--disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Media library widget styles. */
.media-library-widget {
  position: relative;
}

/**
 * @todo Change to .media-library-open-button when styles are moved to the
 *   seven theme in https://www.drupal.org/project/drupal/issues/2980769
 */
.button.media-library-open-button {
  margin-bottom: 1em;
  margin-left: 0;
  /* LTR */
}

[dir="rtl"] .button.media-library-open-button {
  margin-right: 0;
  margin-left: 1em;
}

.media-library-widget__toggle-weight {
  position: absolute;
  top: 5px;
  right: 5px;
  /* LTR */
}

[dir="rtl"] .media-library-widget__toggle-weight {
  right: auto;
  left: 5px;
}

/* Add negative margin for flex grid. */
.media-library-selection {
  margin: 1em -8px;
}

/**
 * Media library widget edit and delete button styles.
 *
 * We have to override the .button styles since buttons make heavy use of
 * background and border property changes.
 */
.media-library-item__edit,
.media-library-item__edit:hover,
.media-library-item__edit:focus,
.media-library-item__remove,
.media-library-item__remove:hover,
.media-library-item__remove:focus,
.media-library-item__remove.button,
.media-library-item__remove.button:first-child,
.media-library-item__remove.button:disabled,
.media-library-item__remove.button:disabled:active,
.media-library-item__remove.button:hover,
.media-library-item__remove.button:focus {
  position: absolute;
  z-index: 1;
  top: 10px;
  overflow: hidden;
  width: 21px;
  height: 21px;
  margin: 5px;
  padding: 0;
  transition: 0.2s border-color;
  color: transparent;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-size: 13px;
  text-shadow: none;
  font-size: 0;
}

.media-library-item__edit {
  right: 40px;
  /* LTR */
}

[dir="rtl"] .media-library-item__edit {
  right: auto;
  left: 40px;
}

.media-library-item__remove {
  right: 10px;
  /* LTR */
}

[dir="rtl"] .media-library-item__remove {
  right: auto;
  left: 10px;
}

.media-library-item__edit {
  background: url("../../../../misc/icons/787878/pencil.svg") #fff center no-repeat;
  background-size: 13px;
}

.media-library-item__remove,
.media-library-item__remove.button,
.media-library-item__remove.button:first-child,
.media-library-item__remove.button:disabled,
.media-library-item__remove.button:disabled:active,
.media-library-item__remove.button:hover,
.media-library-item__remove.button:focus {
  background: url("../../../../misc/icons/787878/ex.svg") #fff center no-repeat;
  background-size: 13px;
}

.media-library-item__edit:hover,
.media-library-item__edit:focus,
.media-library-item__remove:hover,
.media-library-item__remove:focus,
.media-library-item__remove.button:hover,
.media-library-item__remove.button:focus,
.media-library-item__remove.button:disabled:active {
  border-color: #40b6ff;
}

/**
 * Style the added media item container.
 *
 * The added media container receives screen reader focus since it is has the
 * role 'listitem'. Since it is not an interactive element, it does not need
 * an outline.
 */
.media-library-add-form__media {
  position: relative;
  display: flex;
  padding: 1em 0;
  border-bottom: 1px solid #c0c0c0;
  outline: none;
}

/* Do not show the top padding for the first item. */
.media-library-add-form__media:first-child {
  padding-top: 0;
}

/**
 * Change the position of the remove button for the first item.
 *
 * The first item doesn't have a top padding, change the location of the remove
 * button as well.
 */
.media-library-add-form__media:first-child .media-library-add-form__remove-button[type="submit"] {
  top: 5px;
}

/* Do not show the bottom border and padding for the last item. */
.media-library-add-form__media:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.media-library-add-form__preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin-right: 20px;
  /* LTR */
  background: #ebebeb;
}

[dir="rtl"] .media-library-add-form__preview {
  margin-right: 0;
  margin-left: 20px;
}

.media-library-add-form__fields {
  flex-grow: 1;
}

/**
 * @todo Remove [type="submit"] when styles are moved to the seven theme in
 *   https://www.drupal.org/project/drupal/issues/2980769
 */
.media-library-add-form__remove-button[type="submit"] {
  position: absolute;
  top: 25px;
  right: 6px;
  margin-right: 0;
}

[dir="rtl"] .media-library-add-form__remove-button[type="submit"] {
  right: auto;
  left: 13px;
  margin-left: 0;
}

/* @todo Remove in https://www.drupal.org/project/drupal/issues/3064914 */
.views-live-preview .media-library-view div.views-row + div.views-row {
  margin-top: 0;
}

/*# sourceMappingURL=news-empl-submit.css.map */
