@charset "UTF-8";
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

@import 'global/variables';
@import 'global/forms';

@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/front';
@import 'layouts/sidebar';
@import 'components/draft-pending-views';
@import 'components/employment_opportunity_page';
@import 'components/blocks/blocks_global';
@import 'components/_carousel';
@import 'components/blog';
@import 'components/iframe';
@import 'components/node';
@import 'components/news_page';
@import 'components/newsblock';
@import 'components/search';
@import 'components/socialmedia';
@import 'components/status_message';
@import 'components/video_embed';
@import 'pages/blog';
@import 'pages/landing_page';
@import 'pages/all_pages';
@import 'pages/_publishingcreativeservicerequest_page';
@import 'anonymous/restrictions';
@import 'legacy/classes';
@import 'views/_employmentopportunities_view';
@import 'views/_news@work_view';
@import 'pages/_videoproductionrequest_page';

html[lang="fr"] .english-only {
  display: none !important;
}

html[lang="en"] .french-only {
  display: none !important;
}

body > div > div.container {
  border-right: 1px solid $agrisource-border;
  border-left: 1px solid $agrisource-border;
}

body.path-frontpage {
  div.region-help {
    .col-md-4, .col-md-8 {
      //padding-left: 0;
    }
    section.block-entity-blockmedia {
      padding-right: 0;
      margin-left: 0;
    }
  }
  article h2:first-child {
    display: none;
  }
}

body main {
  ul, ol {
    padding-left: 2.5em;
  }
}

.region-content .block-block-content {
  z-index: 1;
}
.contextual-region .contextual .contextual-links a {
  color: #333 !important;
}

#mb-pnl #edit-submit-container-imprt {
  float: none !important;
  margin-bottom: 0px !important;
}

/* Canada Government Logo Size */
#agrisource-wmms {
  height: 2.35em;
  margin-top: -8px;
  position: absolute;
  top: 0.8em;
}

.region-banner {
  a.name.navbar-brand {
    color: white;
    text-shadow: 0 1px 1px #044062;
    margin-left: 0;
    min-height: 1.75em;
    &:active {
      text-decoration: underline!important;
    }
    &:focus {
      text-decoration: underline!important;
    }
    &:hover {
      text-decoration: underline!important;
    }
  }

  p.navbar-text {
    color: white;
  }
}

.navbar-brand {
  text-decoration: none;
  font-size: 1.9em;
  padding-left: 0;
}

#wb-info {
  ul.hide-this, a[data-drupal-link-system-path~="contact"] {
    display:none;
  }
}

/* incresed the padding-left: from 15px to 35px; */
#gc-tctr {
  padding-left: 29px;
  font-weight:  500;
}

section.col-sm-3 ul.list-unstyled {
  font-weight:  500;
}

#wb-bnr {
  background: $agrisource-button-color !important;
}

#agrisource-wmms {
  margin-top: -2.5em;
  height: 1.9em;
  position: absolute;
  right: 15px;
  top: 2px;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  #wb-bnr {
    background-image: -webkit-linear-gradient(#77bc1f, #77bc1f, #007852) !important;
    background-image: linear-gradient(#77bc1f, #77bc1f, #007852) !important;
  }
  .region-banner {
    a.name.navbar-brand {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: x-large;
      height: auto;
    }
  }
  #wb-glb-mn .pnl-btn a {
    font-size: 1.4em;
  }
  #wb-glb-mn .pnl-btn span .glyphicon-th-list {
    padding-left: 0;
  }
  #mb-pnl nav {
    a.mb-item[href *= "structure"] {
      display: none;
    }
  }
  section.lng-ofr {
    ul.list-inline {
      a[href *= "languageswitcher"] {
        display: none;
      }
    }
  }
  /* Canada Government Logo Size */
  #agrisource-wmms {
    height: 2.35em;
    left: 15px;
    margin-top: -8px;
    position: absolute;
    top: -2.2em;
  }
  #wb-bnr {
    background-color: $agrisource-button-color;
    background-image: none;
   .container .row.agri-banner-row {
      position: relative;
    }

  }
}

@media screen and (max-width: 767px) {
  body.i18n-fr {
    #mb-pnl .srch-pnl .form-group {
      width: 65%;
    }
  }
}

@media screen and (min-width: 768px) {
  body.i18n-fr {
    #wb-srch-q-imprt {
      width: 100% !important;
    }
  }
}


/* End of target french only css */
@media screen and (min-width: 992px) {

  a.name.navbar-brand {
    text-shadow: 1px 1px 1px #333;
  }
  body.i18n-fr {
    // Target french only css.
    section.wxt-search-block-form.col-md-4 {
      padding-right: 0 !important;
      .form-type-search {
   max-width: 67%;
      }
    }
  }

  #gcwu-sig {
    margin: 2.8em 0 0.5em 15px;
  }
  footer .container {
    padding-left: 0;
    padding-right: 0;
  }
  .show-this section:first-child {
    padding-left: 5px;
  }

  #wb-bar+.container {
    background: -webkit-gradient(linear,right top,left top,from(#298019),color-stop(#31821d),to(#278019));
    background: -webkit-linear-gradient(right,#278019,#31821d,#278019);
    background: linear-gradient(to left,#007852,#77bc1f,#007852);
    position: relative;
  }


}

.icon.glyphicon.glyphicon-log-in
{
  min-height: 20px;
}

.region.region-content-footer
{
  padding-top: 20px;
}

