
$agrisource-menu-main-light: #a8b7c5 !default;
$agrisource-menu-main-med: #96999c !default;
$agrisource-menu-main-dark: #939394 !default;
$agrisource-menu-main-bright: #939394 !default;
$agrisource-border: #99999b !default;
$agrisource-border-top: #59595b !default;
$agrisource-button-color: #007852;
$agrisource-carousel-bg: #007852;
$agrisource-errors: hsla(15, 75%, 97%, 1);
