
body.node-50.role-is-authenticated {
  #node-empl-form {
    .vertical-tabs-panes {
      border: none !important;
    }
  }
}

body.node-50 {
  form.js-media-library-add-form {
    button.js-form-submit {
      display: none !important;
    }
  }
}

body.role-is-anonymous {
  #node-empl-form {
    .vertical-tabs-panes {
      border: none !important;
    }
  }

  #edit-field-classification-wrapper {
    table.field-multiple-table thead, .field_classification-delta-order, td.delta-order {
      display: none;
    }
  }

  &.employment-opportunity-request-form-page, &.nodeaddempl {
    div.form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label.form-group {
       display: none !important;
    }
  }
  
  &.employment-opportunity-request-form-page, &.nodeaddempl {
    div#edit-actions {
      position: relative;
    }

    div#edit-actions .preview-wrapper {
      position: relative;
      padding-bottom: 15px;
      display: inline-block;
    }

    button#edit-submit {
      margin-left: 5px;
    }

    #block-grstheme-bootstrap-sharewidgetblock,#block-grstheme-bootstrap-reportproblemblock {
      padding-top: 35px !important;
    } 
  }
}

body.role-is-anonymous.employment-opportunity-request-form-page,
body.role-is-anonymous.nodeaddempl.node-add {
  div.select-wrapper:has(select[id='edit-field-branch'] + div.form-item--error-message)::after {
    position: absolute;
    margin-top: 5px;
  }

  div.select-wrapper:has(select[id*='-subform-field-class-level'] + div.form-item--error-message)::after {
    position: absolute;
    margin-top: 5px;
    margin-right: 70px;
  }

  div.select-wrapper:has(select[id*='-subform-field-class-id'] + div.form-item--error-message)::after {
    position: absolute;
    margin-top: 5px;
    margin-right: 300px;
  }
//  #wb-cont {
//    display: none;
//  }
  #block-customblock-submitemploymentopportunity {
    padding-bottom: 20px;
  }
  #block-customblock-submitemploymentopportunity .block-title {
    font-size: 34px !important;
  }
  &.role-is-anonymous #block-privacynotice {
    display: none;
  }
  &.role-is-anonymous button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none !important;
  }
  #field-email-add-more-wrapper div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none !important;
  }    

  #field-email-values td.field-multiple-drag {
    display: none !important;
  }

  #edit-group-level-and div.panel-heading {
    border-bottom: 0px;
    padding-bottom: 0px;
    display: none !important;
  }
  #edit-group-level-and div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none !important;
  }

  #edit-field-classification-wrapper a.tabledrag-handle {
    display: none !important;
  }     

  #edit-field-classification-0-top.paragraph-type-top.form-group.js-form-wrapper.form-wrapper {
    display: none !important;
  }
}

body.role-is-anonymous.employment-opportunity-request-form-page,
body.role-is-anonymous.nodeaddempl,
body.node-50.role-is-authenticated {
  .help-block {
    font-size: 16px;
    color: #333;
  }
  
  div#edit-group-emplopportunityclosingdate--content label#edit-field-date-closing-0-value-date-error {
    display: block !important;
  }

  #edit-actions, #edit-footer {
    padding-left: 15px;
  }

  .preview-wrapper {
    padding-top: 15px;
  }

  .preview-helptext-paragraph {
    float: right;
  }

  .btn.icon-before .glyphicon {
    min-height: 20px;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
  }
  
  .select-wrapper label.error {
    position: absolute;
    left: 0;
    top: 35px;
    margin-bottom: 10px;
  }

  #edit-group-opportunitylocation div.panel-heading, #edit-group-opportunityopento div.panel-heading, 
  #edit-group-emplopportunityclosingdate div.panel-heading {
    padding-left: 0px;
  }

  div#edit-group-emplopportunityclosingdate--content {
    padding-left: 0px;
  }

  div#edit-group-opportunity-details {
    margin-bottom: 0px;
  }
  // News Item form Style //
  #edit-group-opportunity-approval div a.panel-title, #edit-group-opportunity-details div a.panel-title,
  #edit-group-newsarticleheadline div a.panel-title, #edit-group-opportunitydescription div a.panel-title,
  #edit-group-emploppsubitappquestion div a.panel-title, #edit-group-employmentrequestorinfo div a.panel-title,
  #edit-group-empladditionalnotes div a.panel-title
  {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
  }

  #edit-group-opportunity-approval.panel-default, #edit-group-opportunity-details.panel-default,
  #edit-group-opportunitylocation.panel-default, #edit-group-opportunityopento.panel-default,
  #edit-group-emplopportunityclosingdate.panel-default, #edit-group-opportunitydescription.panel-default,
  #edit-group-employmentrequestorinfo.panel-default, #edit-group-emploppsubitappquestion.panel-default,
  #edit-group-empladditionalnotes.panel-default {
    border-color: white;
  }

  #edit-group-opportunity-approval div.panel-heading, #edit-group-opportunity-details div.panel-heading,
  #edit-group-opportunitylocation div.panel-heading, #edit-group-opportunityopento div.panel-heading,
  #edit-group-emplopportunityclosingdate div.panel-heading, #edit-group-opportunitydescription div.panel-heading,
  #edit-group-employmentrequestorinfo div.panel-heading, #edit-group-emploppsubitappquestion div.panel-heading,
  #edit-group-empladditionalnotes div.panel-heading {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #edit-group-opportunitylocation div a.panel-title, #edit-group-opportunityopento div a.panel-title,
   #edit-group-emplopportunityclosingdate div a.panel-title  {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    background-color: white;
    font-size: 20.8px;
    font-weight: bold;
  }

  #edit-group-opportunitylocation--content.panel-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  #edit-group-opportunityopento--content.panel-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  #edit-group-level-and div.panel-body {
    padding: 0px;
  }

  #field-classification-values th.field-label.form-required {
    padding-left: 0px;
  }
  
  #edit-field-classification-wrapper .paragraph-type-top.form-group.js-form-wrapper.form-wrapper {
    float: right !important;
  }  

  &.i18n-en select[name$="[subform][field_class_id]"] {
     min-width: 168px !important;
  } 

  &.i18n-fr select[name$="[subform][field_class_id]"] {
     min-width: 190px !important;
  } 

  & div[class$="-subform-field-class-id form-group"] {
    float: left !important;
  }

  
  &.i18n-fr .select-wrapper label.error {
    position: absolute;
  }
  
  & div[class$="-subform-field-class-sub form-group"] {
    float: left !important;
  }

  & div[class$="-subform-field-class-level form-group"] {
    float: left !important;
  }

  // end of Classication group 1

  #edit-group-emploppsubitappquestion.panel-default {
    border-color: white;
  }
  
  #edit-group-emploppsubitappquestion div.panel-heading {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  #edit-field-employmentrequestorphone-0-value {
    display: block;
  }
  
  #block-news-form-add h2.block-title {
    display: none !important;
  }

  /* block-privacynotice */
  #block-privacynotice {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  /* block-grstheme-bootstrap-reportproblemblock */
  #block-grstheme-bootstrap-reportproblemblock {
    padding-top: 15px !important;
  }
  
// group header - classificaiton
  #edit-field-classification-wrapper th.field-label.form-required {
    display: none !important;
  }   

  #edit-field-classification-wrapper  div.paragraph-type-title.form-group.js-form-wrapper.form-wrapper {
    display: none !important;
  }

  div.form-item--error-message.alert.alert-danger.alert-sm.form-group {
    color: #a94442;
  }
}

body.nodeaddnews.user-anonymous ol.breadcrumb li:last-child, body.nodeaddempl.user-anonymous ol.breadcrumb li:last-child {
  display: none;
}

body.nodeaddempl.role-is-anonymous {
  
  div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-en-0-summary.js-form-item-body-etuf-en-0-summary.form-group {
    display: none !important;
  }
  
  div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-fr-0-summary.js-form-item-body-etuf-fr-0-summary.form-group {
    display: none !important;
  }

  span.field-edit-link button.link.link-edit-summary.btn.btn-default.btn-xs.pull-right { 
    display: none !important;
  }

  div.form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label.form-group {
    display: none !important;
  }

  div#edit-actions {
    position: relative;
  }

  div#edit-actions .preview-wrapper {
    position: relative;
    padding-bottom: 15px;
  }
  
  #block-grstheme-bootstrap-sharewidgetblock,#block-grstheme-bootstrap-reportproblemblock {
    padding-top: 35px !important;
  } 
  
  /* field title float left class */
  .field--name-field-type .field--label {
    float: left;
  } 

  .field--name-field-type .field--item {
    float: left;
  } 
 
  .field--name-field-type .field--label::after {
    content: '\00a0\00a0';
  } 
  
  .field--name-field-type .field--item::after {
    content: ',\00a0';
  } 

  
  .field--name-field-type .field--item:last-child::after {
    content: '';
  }

  .field--name-field-type .field--item:last-child {
    float: none;
  } 
  
  .field--name-field-classification .field--label {
    float: left;
  }

  .field--name-field-classification .field--label::after {
    content: '\00a0\00a0';
  }

  .field.field--name-body.field--type-text-with-summary.field--label-above .field--label::before {
    content: "\A"; 
    white-space: pre; 
  } 

  .field.field--name-body.field--type-text-with-summary.field--label-above .field--item::before {
    content: "\A"; 
    white-space: pre; 
  }
 
  .field.field--name-body.field--type-text-with-summary.field--label-above .field--label {
    font-size: 24px;
  }
  
  .field.field--name-field-email .field--label {
    float: left;
  }

  .field.field.field--name-field-email .field--label::after {
    content: "\00a0\00a0";
  }

  #block-privacynotice h2.block-title {
    display: none;
  }
}

/* block-privacynotice */
#block-privacynotice {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* block-grstheme-bootstrap-reportproblemblock */
#block-grstheme-bootstrap-reportproblemblock {
  padding-top: 15px !important;
}

body.nodeaddempl.role-is-anonymous.node-add {
  #wb-cont {    
    display: none;
  }
  #block-customblock-submitemploymentopportunity {
    padding-bottom: 20px;
  }
  #block-customblock-submitemploymentopportunity .block-title {
    font-size: 34px !important;
  }
  #block-privacynotice {
    display: none;
  }
  button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none !important;
  }
}


body.nodeaddempl.role-is-anonymous {
  .help-block {
    font-size: 16px;
    color: #333;
  }

  #edit-actions, #edit-footer {
    padding-left: 15px;
  }

  .preview-wrapper {
    padding-top: 15px;
  }

  .preview-helptext-paragraph {
    float: right;
  }

  .btn.icon-before .glyphicon {
    min-height: 20px;
  }

  #edit-group-opportunitylocation div.panel-heading, #edit-group-opportunityopento div.panel-heading, 
  #edit-group-emplopportunityclosingdate div.panel-heading {
    padding-left: 0px;
  }

  div#edit-group-emplopportunityclosingdate--content {
    padding-left: 0px;
  }

  div#edit-group-opportunity-details {
    margin-bottom: 0px;
  }
  // News Item form Style //
  #edit-group-opportunity-approval div a.panel-title, #edit-group-opportunity-details div a.panel-title,
  #edit-group-newsarticleheadline div a.panel-title, #edit-group-opportunitydescription div a.panel-title,
  #edit-group-emploppsubitappquestion div a.panel-title, #edit-group-employmentrequestorinfo div a.panel-title,
  #edit-group-empladditionalnotes div a.panel-title
  {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
  }

  #edit-group-opportunity-approval.panel-default, #edit-group-opportunity-details.panel-default,
  #edit-group-opportunitylocation.panel-default, #edit-group-opportunityopento.panel-default,
  #edit-group-emplopportunityclosingdate.panel-default, #edit-group-opportunitydescription.panel-default,
  #edit-group-employmentrequestorinfo.panel-default, #edit-group-emploppsubitappquestion.panel-default,
  #edit-group-empladditionalnotes.panel-default {
    border-color: white;
  }

  #edit-group-opportunity-approval div.panel-heading, #edit-group-opportunity-details div.panel-heading,
  #edit-group-opportunitylocation div.panel-heading, #edit-group-opportunityopento div.panel-heading,
  #edit-group-emplopportunityclosingdate div.panel-heading, #edit-group-opportunitydescription div.panel-heading,
  #edit-group-employmentrequestorinfo div.panel-heading, #edit-group-emploppsubitappquestion div.panel-heading,
  #edit-group-empladditionalnotes div.panel-heading {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #edit-group-opportunitylocation div a.panel-title, #edit-group-opportunityopento div a.panel-title,
   #edit-group-emplopportunityclosingdate div a.panel-title  {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    background-color: white;
    font-size: 20.8px;
    font-weight: bold;
  }

  #edit-group-opportunitylocation--content.panel-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  #edit-group-opportunityopento--content.panel-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  #edit-group-level-and div.panel-heading {
    border-bottom: 0px;
    padding-bottom: 0px;
    display: none !important;
  }

  #edit-group-level-and div.panel-body {
    padding: 0px;
  }

  #edit-group-level-and div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none !important;
  }

  label#edit-field-branch-error ::after {
    top: 30%;
  }

  #edit-field-classification-wrapper a.tabledrag-handle {
    display: none !important;
  }

  &.i18n-en select[name$="[subform][field_class_id]"] {
     min-width: 168px !important;
  } 

  &.i18n-fr select[name$="[subform][field_class_id]"] {
     min-width: 190px !important;
  } 

  & div[class$="-subform-field-class-id form-group"] {
    float: left !important;
  }

  // end of Classication group 1

  #field-email-add-more-wrapper div.table-responsive button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none !important;
  }    

  #field-email-values td.field-multiple-drag {
    display: none !important;
  }

  #edit-group-emploppsubitappquestion.panel-default {
    border-color: white;
  }
  
  #edit-group-emploppsubitappquestion div.panel-heading {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  #edit-field-employmentrequestorphone-0-value {
    display: block;
  }
  
  #block-news-form-add h2.block-title {
    display: none !important;
  }

  /* block-privacynotice */
  #block-privacynotice {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  /* block-grstheme-bootstrap-reportproblemblock */
  #block-grstheme-bootstrap-reportproblemblock {
    padding-top: 15px !important;
  }
  
// group header - classificaiton
  #edit-field-classification-wrapper th.field-label.form-required {
    display: none !important;
  }   

  div.form-item--error-message.alert.alert-danger.alert-sm.form-group {
    color: #a94442;
  }
}
// End of the employment opportunity form 

// End of the employment opportunity form 
