
body.node-49 {
  form.js-media-library-add-form {
    button.js-form-submit {
      display: none !important;
    }
  }
}

body.user-anonymous {
  #node-news-form {
    #edit-revision-information, a[href="#edit-revision-information"] {
      display: none !important;
    }
    .vertical-tabs-panes {
      border: none !important;
    }
    #edit-footer {
      display: none !important;
    }
  }

  &.news-article-form-page div[id^="edit-field-newsfile5"]  div.panel-heading a[href^="#edit-field-newsfile5"] {
    display: none !important;
  }

  &.news-article-form-page div[id^="edit-field-newsfile5"].help-block {
    display: none !important;
  }

  &.news-article-form-page div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-en-0-summary.js-form-item-body-etuf-en-0-summary.form-group {
    display: none !important;
  }

  &.news-article-form-page div.form-item.js-form-item.form-type-textarea.js-form-type-textarea.form-item-body-etuf-fr-0-summary.js-form-item-body-etuf-fr-0-summary.form-group {
    display: none !important;
  }

  &.news-article-form-page span.field-edit-link button.link.link-edit-summary.btn.btn-default.btn-xs.pull-right { 
    display: none !important;
  }

  #edit-field-newsexpirydate-0 {
    display: none !important;
  }

  &.role-is-anonymous.news-article-form-page, &.nodeaddnews.role-is-anonymous {
    div.form-type-select div.select-wrapper select.error {
      margin-bottom: 0px;
    }
    
    div.select-wrapper:has(div.form-item--error-message)::after {
      position: absolute;
      margin-top: 5px;
    }

    div#edit-actions {
      position: relative;
    }

    div#edit-actions .preview-wrapper {
      position: relative;
      padding-top: 0px;
      padding-bottom: 15px;
      display: inline-block;
    }

    button#edit-submit {
      margin-left: 5px;
    }

    #block-grstheme-bootstrap-sharewidgetblock,#block-grstheme-bootstrap-reportproblemblock {
      padding-top: 35px !important;
    } 
  }
}

body.nodeaddnews.role-is-anonymous.node-add {
  #wb-cont {    
    display: none;
  }
  #block-cutomblock-submitarticlefornewsatwork .block-title {
    font-size: 34px !important;
  }
  div#edit-group-newsposteddate--content label#edit-field-posted-0-value-date-error {
    display: block !important;
  }
}

body.news-article-form-page, body.nodeaddnews.role-is-anonymous.node-add {
  .help-block {
    font-size: 16px;
    color: #333;
  }

  #edit-actions, #edit-footer {
    padding-left: 15px;
  }
  
  .preview-wrapper {
    padding-top: 15px;
  } 

  .preview-helptext-paragraph {
    float: right;
  }
  
  .submit-helptext-paragraph {
    float: right !important;
  }

  .select-wrapper label.error {
    position: absolute;
    left: 0;
    top: 45px;
  }

  form.node-news-form {
    div.form-type-select div.select-wrapper select.error {
    margin-bottom: 35px;
    }
  }

  .btn.icon-before .glyphicon {
    min-height: 20px;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
  }

  // News Item form Style //
  #edit-group-newsreviewerandapprover div a.panel-title, #edit-group-submitter-s-contact-inform div a.panel-title, 
  #edit-group-newsposteddate div a.panel-title, #edit-group-newsarticle div a.panel-title,
  #edit-group-newssentby div a.panel-title, #edit-group-newsarticleheadline div a.panel-title, 
  #edit-group-aboutarticle div a.panel-title, #edit-group-newstranslationreqnum div a.panel-title,
  #edit-group-newsnotes div a.panel-title, #edit-group-newsattachedfiles div a.panel-title {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
  }

  #edit-group-newsreviewerandapprover.panel-default, #edit-group-submitter-s-contact-inform.panel-default,
  #edit-group-newsposteddate.panel-default, #edit-group-newsarticle.panel-default,
  #edit-group-newssentby.panel-default,  #edit-group-newsarticleheadline.panel-default,
  #edit-group-aboutarticle.panel-default, #edit-group-newstranslationreqnum.panel-default,
  #edit-group-newsnotes.panel-default, #edit-group-newsattachedfiles.panel-default
  {
    border-color: white;
  }

  #edit-group-newsreviewerandapprover div.panel-heading, #edit-group-submitter-s-contact-inform div.panel-heading,
  #edit-group-newsposteddate div.panel-heading, #edit-group-newsarticle div.panel-heading,
  #edit-group-newssentby div.panel-heading, #edit-group-newsarticleheadline div.panel-heading,
  #edit-group-aboutarticle div.panel-heading, #edit-group-newstranslationreqnum div.panel-heading,
  #edit-group-newsnotes div.panel-heading, #edit-group-newsattachedfiles div.panel-heading
  {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  #edit-field-newsfile1-0--description {
    display: none;
  }

  #edit-field-newsfile2-0--description {
    display: none;
  }

  #edit-field-newsfile3-0--description {
    display: none;
  }

  #edit-field-newsfile4-0--description {
    display: none;
  }

  #edit-field-newssubmitterphone-0-value {
    display: block;
  }
  
  #block-news-form-add h2.block-title {
    display: none !important;
  }
  
  #edit-field-newsexpirydate-0 div.panel-heading {
    background-color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .tabbable.tabs-left.vertical-tabs.clearfix {
    display: none !important;
  }

  div[id^="edit-field-newsfile5"] div.panel-heading a[href^="#edit-field-newsfile5"] {
    display: none !important;
  }

  div[id^="edit-field-newsfile5"].help-block {
    display: none !important;
  }

  div[id^="edit-field-posted"] div.form-item--error-message {
    display: block;
  }
}
// End of the News Item
