@charset "UTF-8";

body.path-admin.admincontentmoderated {
  .view-filters {
    .form-item--field-tracking-number-value,
    .form-item--type,
    .form-item--name {
      max-width: 200px;
    }
    .form-item--nid {
      max-width: 100px;
    }
    .form-item--langcode {
      max-width: 160px;
    }
    .form-item--field-subject-target-id,
    .form-item--field-meta-type-target-id,
    .form-item--field-newstype-target-id {
      max-width: 250px;
    }
  }
}
