@charset "UTF-8";


div#edit-revision-timestamp-wrapper > fieldset,
div#edit-field-modified-value-wrapper > fieldset {
  padding-bottom: 20px !important;
}

#edit-revision-timestamp-wrapper--2 {
  margin-top: 4px !important;
}

#edit-revision-timestamp-wrapper--2 {
  margin-top: 4px;
}
body.path-admin {
  .view-content {
    .form-item--field-tracking-number-value,
    .form-item--type,
    .form-item--name {
      max-width: 200px;
    }
    .form-item--nid {
      max-width: 100px;
    }
    .form-item--field-subject-target-id,
    .form-item--field-meta-type-target-id,
    .form-item--field-newstype-target-id {
      max-width: 250px;
    }
    .form-item--revision-timestamp-min,
    .form-item--field-modified-value-min,
    .form-item--changed-min {
      margin: 0.75rem 0.5rem 0 0;
      max-width: 135px;
    }
    .form-item--revision-timestamp-max,
    .form-item--field-modified-value-max,
    .form-item--changed-max {
      margin: 0.75rem 0.5rem 0 0;
      max-width: 120px;
    }
    #edit-revision-timestamp-wrapper,
    #edit-field-modified-value-wrapper {
      position: relative;
      margin-top: 2.35em;
      margin-right: 8px;
      padding-bottom: inherit;
      fieldset.form-wrapper.form-item {
        padding-bottom: 20px !important;
	margin-top: 4px;
      }
    }

    #edit-revision-timestamp-wrapper legend,
    #edit-field-modified-value-wrapper legend {
      font-size: unset;
      span.fieldset__label {
        position: absolute;
        top: -2.5em;
        font-size: unset;
        color: #222330;
      }
    }
  }
  .view-filters {
    #edit-revision-timestamp-wrapper, #edit-field-modified-value-wrapper, #edit-created-wrapper, #edit-field-issued-value-wrapper {
      .form-item {
        float: left;
      }		
    }
  }
}
