
.news-bulletin .row {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.news-bulletin .title {
  font-size: 14px;
  padding: 5px 3px 0px 3px;
  color: #337ab7;
}

.news-bulletin .description {
  display: none;
  font-size: 12px;
  padding: 0 3px;
}

.news-bulletin {
  cursor: pointer;
}

.news-bulletin .pagination {
  display: block;
  text-align: center;
}

.news-bulletin .bulletin-pager {
  background-color: white;
  display: inline-block;
  padding: 10px;
}


.table-news-bulletin thead.news-group tr.news-type-header-row th.glyphicon.tb-news-group-title::before {
  font-size: xx-large;
}

.table-news-bulletin thead.news-group tr.news-type-header-row .tb-news-group-title {
  padding: 5px 0 0px 10px !important;
}

.table-news-bulletin thead.news-group tr.news-type-header-row th {
/*  padding: 5px !important; */
}


.table-news-bulletin thead.news-group tr.news-type-header-row th.th-title {
  width: 30% !important;
}

.table-news-bulletin thead.news-group tr.news-type-header-row th.th-title,
.table-news-bulletin thead.news-group tr.news-type-header-row th.th-from {
  font-weight: normal !important;
  text-align: center;
}
.table-news-bulletin thead.news-group tr.news-type-header-row th.th-summary {
  background: rgb(245,245,245);
  background: linear-gradient(90deg, rgba(245,245,245,1) 75%, rgba(255,255,255,1) 100%);
}

.table-news-bulletin thead.news-group tr.news-type-header-row th.th-from,
.table-news-bulletin thead.news-group tr.news-type-header-row th.th-summary {
  background-color: #f5f5f5;
  text-align: center;
  font-weight: normal !important;
}

.table-news-bulletin thead.news-group tr.news-type-header-row th.th-title {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 25%);
}


.newsatworkbulletin div.container form#news-bulletin-form-1  table,
.newsatworkbulletinoutsidencr div.container form#news-bulletin-form-1  table  {
  border-spacing: 0px;
  font-size: 12px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.newsatworkbulletin table.table td,
.newsatworkbulletinoutsidencr table.table td {
  position: relative;
}

.newsatworkbulletin table.table td input,
.newsatworkbulletinoutsidencr table.table td input {
  position: absolute;
  right: 5px;
  top: -2px;
  transform: scale(1.2);
}

.newsatworkbulletin div.container form#news-bulletin-form-1  table td,
.newsatworkbulletinoutsidencr div.container form#news-bulletin-form-1  table td {
  padding: 0px;
}

.newsatworkbulletin div.container form#news-bulletin-form-1  table tr th,
.newsatworkbulletinoutsidencr div.container form#news-bulletin-form-1  table tr th {
  border-bottom: 0px;
}

.newsatworkbulletin .table thead tr th, .newsatworkbulletin .table  thead  tr  td,
.newsatworkbulletin .table tbody tr th, .newsatworkbulletin .table  tbody  tr  td,
.newsatworkbulletin .table tfoot tr th, .newsatworkbulletin .table  tfoot  tr  td,
.newsatworkbulletinoutsidencr .table thead tr th, .newsatworkbulletinoutsidencr .table  thead  tr  td,
.newsatworkbulletinoutsidencr .table tbody tr th, .newsatworkbulletinoutsidencr .table  tbody  tr  td,
.newsatworkbulletinoutsidencr .table tfoot tr th, .newsatworkbulletinoutsidencr .table  tfoot  tr  td {
  border-top: 0px;
}

table.table tr.value-row:hover {
  box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.12);
}

.tile {
  background-color: white;
  color: #3A3A4D;
}


table.table .glyphicon {
  display: revert;
}

thead .tb-news-group-title {
  overflow-y: visible;
  white-space: nowrap;
  font-weight: bold;
}

table .glyphicon-move::before {
  position: absolute;
  left: 75px;
  top: -5px;
  color: gray;
  cursor: ns-resize;
  font-size: large;
}

table .glyphicon-folder-open::before {
  cursor: ns-resize;
}

table .glyphicon-folder-open:after {
  content: "\e068";
  color: gray;
  cursor: ns-resize;
  font-size: large;
  position: absolute;
  top: 13px;
  left: -13px;
}

table .glyphicon-folder-open::before, table .glyphicon-folder-close::before {
  padding-right: 10px;
  padding-left: 2px;
}

.glyphicon-folder-open::before, .glyphicon-folder-close::before {
  color: orange;
  font-size: xx-large;
}

.th-title, .th-summary, .th-from {
  visibility: hidden;
}

 table.table thead:first-child th:nth-child(4),
  table.table thead:first-child th:nth-child(5),
   table.table thead:first-child th:nth-child(6) {
  visibility: visible !important;
  vertical-align: middle;
  font-size: medium;
}
table.table thead:first-child th:nth-child(4),
 table.table thead:first-child th:nth-child(5) {
 border-right: 1px solid #c5c5c5;

}

table.table tbody thead {
  display: none !important;
  visibility: hidden !important;
}

.newsatworkbulletin .table thead .tb-news-group-title,
.newsatworkbulletinoutsidencr .table thead .tb-news-group-title  {
  font-size: larger;
  font-weight: bold;
  vertical-align: middle;
}

table.table thead:not(:first-child) th {
  border: 0;
}

.table-news-bulletin thead.news-group:not(:first-child) tr.news-type-header-row th.th-title, th.th-from, th.th-summary {
  border: 0;
}

.ajax-progress {
  display: inline-block;
  padding: 1px 5px 2px 5px;
}
[dir="rtl"] .ajax-progress {
  float: right;
}
.ajax-progress-throbber .throbber {
  display: inline;
  padding: 1px 5px 2px;
  background: transparent url(../../../../core/misc/throbber-active.gif) no-repeat 0 center;
}
.ajax-progress-throbber .message {
  display: inline;
  padding: 1px 5px 2px;
  position: absolute;
}
tr .ajax-progress-throbber .throbber {
  margin: 0 2px;
}
.ajax-progress-bar {
  width: 16em;
}

/* Full screen throbber */
.ajax-progress-fullscreen {
  position: fixed;
  z-index: 1000;
  top: 48.5%;
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%; /* LTR */
  width: 24px;
  height: 24px;
  padding: 4px;
  opacity: 0.5;
  border-radius: 7px;
  background-color: #AFAFAF !important;
  background-image: url(../../../../core/misc/loading-small.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
[dir="rtl"] .ajax-progress-fullscreen {
  right: 49%;
  left: auto;
}

#email-button {
  position: absolute;
  top: -47px;
  left: 260px;
}

body.newsatworkbulletin th.tb-news-group-title ,
body.newsatworkbulletinoutsidencr th.tb-news-group-title{
  max-width: 100px;
}

body.newsatworkbulletin .table > thead > tr > th,
body.newsatworkbulletinoutsidencr .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td
{
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
