
body.path-frontpage {
  .carousel-s2 {
    margin-left: -15px !important;
  }
}

.carousel-s2 {
  &.wb-tabs [role="tablist"] > li {
    margin: 0 !important;
  }
  &.wb-tabs [role="tabpanel"] a {
    color: #fff !important;
  }
  ul[role="tablist"] {
    & > li {
      margin: 0;
    }
  }
  figcaption {
    background-color: $agrisource-carousel-bg;
  }
  &.show-thumbs {
    ul[role="tablist"] {
      li.active a {
        border-color: #666;
        border-style: solid;
        border-width: 10px;
        margin-bottom: 1px;
        padding:0;
      }
      li:focus, a:focus {
      }
    }
    .plypause {
      padding: 0;
    }
  }
  &.wb-tabs [role="tablist"] > li.active a {
    border-color: #666;
    border-style: solid;
    border-width: 4px 0 0;
    cursor: default;
    padding-top: 6px;
  }
  &.wb-tabs [role="tablist"] > li a {
    color: #000;
    padding: 10px;
    text-decoration: none;
  }
  figure {
    background: $agrisource-carousel-bg;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  .wb-tabs.carousel-s2.show-thumbs [role=tablist]>li.plypause a {
    margin-right: -0.3em !important;
  }

  body.i18n-fr .wb-tabs.carousel-s2.show-thumbs [role=tablist]>li.plypause a {
    margin-right: -0.8em !important;
  }

  .wb-tabs.carousel-s2.show-thumbs [role=tablist]>li.plypause a[title="Pause"] {
    margin-right: -0.8em !important;
  }

}

@media screen and (min-width: 992px) {

  .carousel-s2 {
    &.show-thumbs {
      ul[role=tablist] {
        bottom: -6px;
        li[role=presentation] img {
          width: 120px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  body.path-frontpage {
    .carousel-s2 {
      margin-left: -15px !important;
      margin-right: -30px;
    }
  }
}

@media screen and (min-width: 992px) {
  body.path-frontpage {
    .wb-tabs.carousel-s2.wb-init.show-thumbs {
      padding-bottom: 4em !important;
    }
    .wb-tabs.carousel-s2.show-thumbs [role=tablist]>li.plypause a {
      margin-top: 0.2em !important;
    }
  }
}
