
body.user-logged-in .view-content tr.published-no {
  background-color: pink;
  border: 3px solid red;
  overflow: hidden;
}

body.user-logged-in .view-content tr.published-no.pending-draft {
  background-color: #FFECA9;
  border: 3px solid orange;
  overflow: hidden;
}

body.user-logged-in .view-content table.dataTable {
  border-collapse: collapse;
  overflow: hidden;
}

