@charset "UTF-8";
/**** Components Node for unpublished content *****/
/* Note that drupal-bootstrap-not-cdn.min.css sets the background-color to #fff4f4 for body.is-unpublished */

body.user-anonymous {
  #edit-body-etuf-fr-0-format,
  #edit-body-0-format {
    display: none;
  }
}

body.user-logged-in.published-no {
  article {
    background-color: pink;
    border: 3px solid hotpink;
  }
  div.region-header h1 {
    background-color: pink;
    border: 3px solid hotpink;
  }
}

/* The following code will override the body.is-unpublished background-color that drupal sets by default */
body.is-unpublished {
  background-color: white;
}

/* Unpublished revision pending to overwrite the published revision */
body.user-logged-in.published-no.pending-draft {
  article {
    background-color: #FFECA9;
    border: 3px solid orange;
  }
  div.region-header h1 {
    background-color: #FFECA9;
    border: 3px solid orange;
  }
}

body.user-logged-in[class*='archiv'] {
  article {
    background-color: blanchedalmond;
    border: 3px solid saddlebrown;
  }
  div.region-header h1 {
    background-color: blanchedalmond;
    border: 3px solid saddlebrown;
  }
}
html:lang(en) body.anonymous.published-no main .field--name-body::before,
html:lang(en) body.viewer.published-no main .field--name-body::before {
  content: "Draft Version";
}

html:lang(fr) body.anonymous.published-no main .field--name-body::before,
html:lang(fr) body.viewer.published-no main .field--name-body::before {
    content: "En brouillon";
}

html:lang(en) body.anonymous.published-no main .block .field--name-body::before,
html:lang(en) body.viewer.published-no main .block .field--name-body::before {
  content: "";
}

html:lang(fr) body.anonymous.published-no main .block .field--name-body::before,
html:lang(fr) body.viewer.published-no main .block .field--name-body::before {
    content: "";
}

html:lang(en) body.anonymous.published-no main #block-servicesandinformation .field--name-body::before,
html:lang(en) body.anonymous.published-no main .block.block-layout-builder .field--name-body::before,
html:lang(en) body.viewer.published-no main .block.block-layout-builder .field--name-body::before,
html:lang(en) body.viewer.published-no main #block-servicesandinformation .field--name-body::before {
  content: "Draft Version";
}

html:lang(fr) body.anonymous.published-no main #block-servicesandinformation .field--name-body::before,
html:lang(fr) body.anonymous.published-no main .block.block-layout-builder .field--name-body::before,
html:lang(fr) body.viewer.published-no main .block.block-layout-builder .field--name-body::before,
html:lang(fr) body.viewer.published-no main #block-servicesandinformation .field--name-body::before {
    content: "En brouillon";
}
html:lang(en) body.anonymous.published-no main .field--name-body::before,
html:lang(fr) body.anonymous.published-no main .field--name-body::before,
html:lang(en) body.viewer.published-no main .field--name-body::before,
html:lang(fr) body.viewer.published-no main .field--name-body::before {
    margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

html:lang(en) body.anonymous.pending-draft main .field--name-body::before,
html:lang(en) body.anonymous.pending-draft main .block.block-layout-builder .field--name-body::before,
html:lang(en) body.viewer.pending-draft main .block.block-layout-builder .field--name-body::before,
html:lang(en) body.anonymous.pending-draft main #block-servicesandinformation .field--name-body::before,
html:lang(en) body.viewer.pending-draft main #block-servicesandinformation .field--name-body::before,
html:lang(en) body.viewer.pending-draft main .field--name-body::before {
    content: "Pending Draft";
}

html:lang(fr) body.anonymous.pending-draft main .field--name-body::before,
html:lang(fr) body.anonymous.pending-draft main .block.block-layout-builder .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main .block.block-layout-builder .field--name-body::before,
html:lang(fr) body.anonymous.pending-draft main #block-servicesandinformation .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main #block-servicesandinformation .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main .field--name-body::before {
  content: "Brouillon en attente";
}

html:lang(en) body.anonymous.pending-draft main .block .field--name-body::before,
html:lang(en) body.viewer.pending-draft main .block .field--name-body::before {
    content: "";
}

html:lang(fr) body.anonymous.pending-draft main .block .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main .block .field--name-body::before {
  content: "";
}

html:lang(en) body.anonymous.pending-draft main .field--name-body::before,
html:lang(fr) body.anonymous.pending-draft main .field--name-body::before,
html:lang(en) body.viewer.pending-draft main .field--name-body::before,
html:lang(fr) body.viewer.pending-draft main .field--name-body::before {
    margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  font-size: 400%;
  opacity: 0.6;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

html:lang(en) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(en) body.anonymous.published-no-is-archived main .block.block-layout-builder .field--name-body::before,
html:lang(en) body.viewer.published-no-is-archived main .block.block-layout-builder .field--name-body::before,
html:lang(en) body.viewer.published-no-is-archived main .field--name-body::before {
  content: "Archived Version";
}

html:lang(fr) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(fr) body.anonymous.published-no-is-archived main .block.block-layout-builder .field--name-body::before,
html:lang(fr) body.viewer.published-no-is-archived main .block.block-layout-builder .field--name-body::before,
html:lang(fr) body.viewer.published-no-is-archived main .field--name-body::before {
    content: "Version archivée";
}

html:lang(en) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(fr) body.anonymous.published-no-is-archived main .field--name-body::before,
html:lang(en) body.viewer.published-no-is-archived main .field--name-body::before,
html:lang(fr) body.viewer.published-no-is-archived main .field--name-body::before {
  margin-left: 3em;
  margin-top: 2.5em;
  position: fixed;
  transform: rotate(-45deg);
  color: #CCC;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  font-size: 400%;
  opacity: 0.6;
  z-index: 1;
  font-weight: bold;
  text-shadow: 2px 2px #666;
}

body.node20latest #wb-bc {
  display: none; /* Normally avoid this type of trick but sometimes it's just so much easier */
}
