
#block-findacolleague {
  #Agrisource-qsBox {
    max-width: 207px;
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  #block-findacolleague {
    #Agrisource-qsBox {
      max-width: 76.5%;
    }
  }
}

@media screen and (min-width: 1200px) {
  #block-findacolleague {
    #Agrisource-qsBox {
      max-width: 80.5%;
    }
    button {
      float: right;
    }
  }
}

