{#
/**
 * @file
 * Theme override for page title block.
 *
 * @ingroup templates
 */
#}
{#% extends "block--bare.html.twig" %#}
<h1 class="js-quickedit-page-title" id="wb-cont">{{ 'Internal Employment Opportunities'|t }}</h1>
