{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}

    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : '',
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar">
      <div id="wb-bnr">
        <div id="wb-bar">
          <div class="container">
            <div class="row">
              <img id="gcwu-sig" src='{{ logo_svg }}' alt='{{ 'Agriculture and Agri-Food Canada'|t }}' />
              <section id="wb-lng" class="visible-md visible-lg">
                <h2>{{ 'Language selection'|t }}</h2>
                {{ page.language_toggle }}
              </section>
              <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
                <h2>{{ 'Search and menus'|t }}</h2>
                <ul class="pnl-btn list-inline text-right">
                <li>
                  <a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk btn btn-sm btn-default" role="button">
                    <span class="glyphicon glyphicon-search">
                      <span class="glyphicon glyphicon-th-list">
                        <span class="wb-inv">{{ 'Search and menus'|t }}</span>
                      </span>
                    </span>
                  </a>
                </li>
                </ul>
                <div id="mb-pnl"></div>
              </section>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row agri-banner-row">
            <div class="col-md-12">
              {{ page.banner }}
              <object id="agrisource-wmms" type="image/svg+xml" tabindex="-1" role="img" data="{{ logo_canada_svg }}" aria-label="{{ 'Symbol of the Government of Canada'| t}}"></object>
            </div>
            {{ page.search }}
          </div>
        </div>
      </div>
      <nav aria-labelledby="topicsMenu" id="wb-sm" class="wb-menu visible-md visible-lg" data-trgt="mb-pnl">
        <div class="pnl-strt {{ container }} nvbar">
          <h2 id="topicsMenu" class="wb-inv">{{ 'Topics Menu'|t }}</h2>
          {{ page.navigation }}
        </div>
      </nav>
      {{ page.breadcrumb }}
    </header>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}

  <div class="{{ container }}">
    <div class="row">

      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted  %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      {# Access Unpublished Links #}
      {% set accessUnpublishedUrl = getHashTag(node.id()) %}
      {% if accessUnpublishedUrl is not empty %}
        {% if not node.isPublished() %}
          {% set hashLinkTitle = 'Access unpublished hash link allows unpublished access to content.' %}
          {% set linkClass = 'link access-unpublished' %}
        <div class="alert alert-success access_unpublished alert-dismissible" role="status" aria-label="{{ 'Status message'|t }}">
          <button type="button" role="button" class="close" data-dismiss="alert" aria-label="{{ 'Close'|t }}"><span aria-hidden="true">×</span></button>
          <b><a href="{{ accessUnpublishedUrl }}" class="{{ linkClass }}">{{ hashLinkTitle|t }}</a></b>
          <h2 class="sr-only">{{ 'Status message'|t }}</h2>
        </div>
        {% endif %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-6 col-md-push-3',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-9 col-md-push-3',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-md-12'
        ]
      %}
      <main property="mainContentOfPage" {{ content_attributes.addClass(content_classes, 'main-container', 'js-quickedit-main-content') }}>

      {# Header #}
      {% if page.header %}
        {% block header %}
          {{ page.header }}
        {% endblock %}
      {% endif %}

      <section>

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
          {{ page.content_footer }}
        {% endblock %}
      </section>

      </main>

      {# Sidebar First #}
      {%
        set sidebar_first_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-3 col-md-pull-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-3 col-md-pull-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-3 col-md-pull-9'
        ]
      %}
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <nav{{ attributes.addClass(sidebar_first_classes) }}>
            {{ page.sidebar_first }}
          </nav>
        {% endblock %}
      {% endif %}

      {# Sidebar Second #}
      {%
        set sidebar_second_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-3',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-3',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-3'
        ]
      %}
      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <nav{{ attributes.removeClass(sidebar_first_classes).addClass(sidebar_second_classes) }}>
            {{ page.sidebar_second }}
          </nav>
        {% endblock %}
      {% endif %}
    </div>
  </div>

{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="visible-sm visible-md visible-lg wb-navcurr" id="wb-info">
      <div class="{{ container }}">
        {{ page.footer }}
      </div>
    </footer>
  {% endblock %}
{% endif %}
