{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% if language_prefix == 'en' %}
<div class="show-this mrgn-lft-lg">
  {{ menus.menu_links(items, attributes, 0, menu_name|clean_class) }}
</div>
<ul id="gc-tctr" class="col-sm-12 list-inline">
  <li><a rel="license" href="/en/important-notices">Important Notices</a></li>
  <li><a href="/en/contact-us">Contact Us</a></li>
</ul>
{% endif %}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level != 0 %}
      <ul{{ attributes.addClass('list-unstyled') }}>
    {% endif %}
    {% for item in items %}
      {% if menu_level == 0 and item.is_expanded %}
        <section{{ item.attributes.addClass('col-sm-3') }}>
        <h3>{{ item.title }}</h3>
      {% else %}
        <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav'), menu_level + 1, menu_name) }}
      {% endif %}
      {% if menu_level == 0 and item.is_expanded %}
        </section>
      {% else %}
        </li>
      {% endif %}
    {% endfor %}
    {% if menu_level != 0 %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}

