
/* Move the front page specific scss (sass/css) here.*/ 
body.path-frontpage {
  #block-media-2, #block-media {
    margin-left: 0;
    padding-left: 0;
  }
  #block-aafcsocialmedia {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  // Fix a bug on the home page, was unable to click the links when logged in, this fixes it.
  section[data-quickedit-entity-id^="block_content/"] {
    z-index: 1;
  }
  section[data-quickedit-entity-id^="media/"] {
    z-index: 1;
  }
  section[data-block-plugin-id^="views_block:"] {
    z-index: 1;
  }section[id^="block-servicesandinformation"] {
    z-index: 1;
  }
}
