body.user-anonymous.home.i18n-en div.messages__wrapper div.alert-success em.placeholder a[href*="en/news"] {
  display: none;
}
body.user-anonymous.home.i18n-fr div.messages__wrapper div.alert-success em.placeholder a[href*="fr/nouvelles"] {
  display: none;
}
