
body.adminpublish_activity_meta div.form-item--type-2 {
  margin-left: 10px;
  margin-bottom: 2.5rem;
}

body.adminpublish_activity_meta div.form-item--field-issued-value-max {
  margin-left: 5px;
}
