div.view-id-view_employmentopportunities.view-display-id-page_1 {
    tr[role='row'] .sorting-cnt {
    display: none !important;
  }
  
  button#edit-submit-view-employmentopportunities {
    color: #fff;
    background: #007852;
  }

  .view-filters.form-group {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }

  .wb-tables.table.table-hover.table-striped.sticky-enabled.wb-init.wb-tables-inited.dataTable.no-footer.sticky-table {
    border: 1px solid #ddd;
  }

  td, th {
    border: 1px solid #ddd !important;
    font-size: 87%;
  }

  #view-field-type-table-column {
    width: 12%;
  }
  
  #view-field-classification-table-column {
    width: 22%;
  }

  #view-field-branch-table-column {
    width: 12%;
  }

  #view-field-open-to-table-column {
    width: 23%;
  }

  #view-field-date-closing-table-column {
     width: 10%;
  }

  #view-field-locations-table-column {
    width: 22%;
  }

  #view-field-type-table-column button, #view-field-classification-table-column button,
  #view-field-date-closing-table-column button, #view-field-locations-table-column button,
  #view-field-branch-table-column button, #view-field-open-to-table-column button {
    text-align: left;
    text-decoration-thickness: inherit;
  }

  th.views-field.views-field-field-date-closing.sorting button, th.views-field.views-field-field-locations.sorting button,
  th.views-field.views-field-field-branch.sorting button, th.views-field.views-field-field-open-to.sorting button,
  th.views-field.views-field-field-type.sorting button,  th.views-field.views-field-field-classification.sorting button {
    background-color: #fff;
    border-width: 0px;
    span.sorting-cnt {
      display: none;
    }
  }

  th.views-field.views-field-field-type.sorting.sorting_desc button,
  th.views-field.views-field-field-type.sorting.sorting_asc button,
  th.views-field.views-field-field-classification.sorting.sorting_desc button,
  th.views-field.views-field-field-classification.sorting.sorting_asc button,
  th.views-field.views-field-field-branch.sorting.sorting_desc button,
  th.views-field.views-field-field-branch.sorting.sorting_asc button,
  th.views-field.views-field-field-open-to.sorting.sorting_desc button,
  th.views-field.views-field-field-open-to.sorting.sorting_asc button,
  th.views-field.views-field-field-date-closing.sorting.sorting_desc  button,
  th.views-field.views-field-field-date-closing.sorting.sorting_asc  button,
  th.views-field.views-field-field-locations.sorting.sorting_desc button,
  th.views-field.views-field-field-locations.sorting.sorting_asc button {
    background-color: #e7e7e7;
  }

  .views-exposed-form .form-type-select {
    label.control-label {
      width: auto;
    }
  }
}


