body.viewnewswork .alert.alert-info {
  font-size: 19px;
  line-height: 1.4375;
  background: #d7faff;
  border-color: #269abc;
}

body .view.view-view-news-work  div.news-at-work-row.views-row {
  margin-bottom: 20px;
  div.views-field.views-field-field-from .field-content {
    font-style: italic !important;
  }
}

body div.news-at-work-row.views-row:last-child, body .view.view-view-news-work div.news-at-work-row.views-row:last-child {
  margin-bottom: 0px;
}

body .view.view-view-news-work.view-id-view_news_work div.view-content h3 {
 font-size: 24px;
}
